-s4ewQbUN6eQlbAQ59fT8.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-06T00:59:21.581Z",
  "id": "-s4ewQbUN6eQlbAQ59fT8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "OCR",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "33b565bc-0591-4d80-abaa-98a56a681071",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list"
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "277d3767-b60b-41c5-99d8-b9124aebb321",
      "name": "List files",
      "credentials": {
        "anthropicApi": {
          "id": "JvTJW1grSbIcwc1m",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "claude-opus-4-6",
          "mode": "list",
          "cachedResultName": "claude-opus-4-6"
        },
        "imageUrls": "={{ $json.url }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "c21b2b4b-a0c5-48d2-99d6-8be1ca47d54e",
      "name": "Analyze image",
      "credentials": {
        "anthropicApi": {
          "id": "JvTJW1grSbIcwc1m",
          "name": "Anthropic account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-06T00:59:21.583Z",
      "createdAt": "2026-02-06T00:59:21.583Z",
      "role": "workflow:owner",
      "workflowId": "-s4ewQbUN6eQlbAQ59fT8",
      "projectId": "IGL0EzJNN8XZ65mm"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-10T01:34:00.604Z",
  "versionId": "f8e5373c-bb5e-4df9-a8f3-2fb216abaf78"
}