29rwfhpGm7OO6LYf.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Snowflake": {
      "main": [
        []
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Snowflake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-13T22:29:15.044Z",
  "id": "29rwfhpGm7OO6LYf",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Mobile App Complaints Snowflake Integration copy 2",
  "nodes": [
    {
      "parameters": {
        "url": "https://chat.googleapis.com/v1/spaces/AAQAEnnivow/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleChatOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filter",
              "value": "=createTime > \"2026-02-05T00:00:00.000-08:00\" AND createTime < \"2026-02-12T23:59:59.999-08:00\""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "8c6c96d2-acfd-48ac-b3df-5e1839430282",
      "name": "HTTP Request",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "c3Kyi7soxQDc29ht",
          "name": "Chat account 2"
        }
      }
    },
    {
      "parameters": {
        "table": "MOBILE_APP_AND_DEVICE_COMPLAINTS_RAW",
        "columns": "NAME, SENDER, CREATETIME, TEXT, THREAD, SPACE, ARGUMENTTEXT, EMOJIREACTIONSUMMARIES, ATTACHEDGIFS, FORMATTEDTEXT, QUOTEDMESSAGEMETADATA, THREADREPLY, ATTACHMENT, ANNOTATIONS, LASTUPDATETIME"
      },
      "type": "n8n-nodes-base.snowflake",
      "typeVersion": 1,
      "position": [
        816,
        -112
      ],
      "id": "892d654b-1be5-4cf9-b360-913a0d6c3e85",
      "name": "Snowflake",
      "credentials": {
        "snowflake": {
          "id": "ujr2x5QCc0bRwis4",
          "name": "Snowflake account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -256,
        0
      ],
      "id": "2e9e933c-ef83-4320-9931-6f5482ca816f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Ensure we handle the \"messages\" array from the Google Chat List operation\nconst inputData = $input.all();\nlet results = [];\n\ninputData.forEach(item => {\n    // Check if the input is a list of messages (from a 'List' operation) \n    // or a single message (from a 'Get' or 'Create' operation)\n    const messages = item.json.messages || [item.json];\n\n    messages.forEach(msg => {\n        results.push({\n            json: {\n                NAME: msg.name || null,\n                SENDER: msg.sender ? JSON.stringify(msg.sender) : null,\n                CREATETIME: msg.createTime || null,\n                TEXT: msg.text || null,\n                THREAD: msg.thread ? JSON.stringify(msg.thread) : null,\n                SPACE: msg.space ? JSON.stringify(msg.space) : null,\n                ARGUMENTTEXT: msg.argumentText || null,\n                EMOJIREACTIONSUMMARIES: msg.emojiReactionSummaries ? JSON.stringify(msg.emojiReactionSummaries) : null,\n                ATTACHEDGIFS: msg.attachedGifs ? JSON.stringify(msg.attachedGifs) : null,\n                FORMATTEDTEXT: msg.formattedText || null,\n                QUOTEDMESSAGEMETADATA: msg.quotedMessageMetadata ? JSON.stringify(msg.quotedMessageMetadata) : null,\n                THREADREPLY: msg.threadReply ? JSON.stringify(msg.threadReply) : null,\n                ATTACHMENT: msg.attachment ? JSON.stringify(msg.attachment) : null,\n                ANNOTATIONS: msg.annotations ? JSON.stringify(msg.annotations) : null,\n                LASTUPDATETIME: msg.lastUpdateTime || null\n            }\n        });\n    });\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -112
      ],
      "id": "fc798408-586c-4e6d-87d4-a0ba66546df9",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82bded95-13cd-4878-a901-22e809986d97",
              "leftValue": "={{ Object.keys($json).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "0710425a-a7d0-472a-950c-59e51633e6ce",
      "name": "If"
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-02-03T05:00:24.007-05:00",
          "Readable date": "February 3rd 2026, 5:00:24 am",
          "Readable time": "5:00:24 am",
          "Day of week": "Tuesday",
          "Year": "2026",
          "Month": "February",
          "Day of month": "03",
          "Hour": "05",
          "Minute": "00",
          "Second": "24",
          "Timezone": "America/New_York (UTC-05:00)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "Jhg8IyXKHb7IuHGs_FmeP"
  },
  "shared": [
    {
      "updatedAt": "2026-02-13T22:29:15.047Z",
      "createdAt": "2026-02-13T22:29:15.047Z",
      "role": "workflow:owner",
      "workflowId": "29rwfhpGm7OO6LYf",
      "projectId": "kugITzN49x98FAtM"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-13T22:30:46.627Z",
  "versionId": "83a5985a-b128-4872-934a-03e6802dac51"
}