2xdZcbYUOteIGH7Z.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Get message id": {
      "main": [
        [
          {
            "node": "Filter for PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Email": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Binary Data": {
      "main": [
        [
          {
            "node": "Get message id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for PDFs": {
      "main": [
        [
          {
            "node": "Get PDF attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contains Attachments?": {
      "main": [
        [
          {
            "node": "Get Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF attachments": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Get a prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Contains Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-13T04:57:49.821Z",
  "id": "2xdZcbYUOteIGH7Z",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Weekly OKR Summary copy 2",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        },
        "path": "ea524dd0-698c-446d-8f85-385cf7bd663b"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1152,
        -192
      ],
      "id": "846f85f8-f847-4387-b156-aeba7cd7f367",
      "name": "Get message id",
      "webhookId": "ea524dd0-698c-446d-8f85-385cf7bd663b",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "no-reply@quicksight.aws"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        -192
      ],
      "id": "1544cdd6-20f4-4164-a3b0-1d53bc01a3e7",
      "name": "Read Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7cdbf83e-33cb-43d8-9763-c4b8bae0b5d6",
              "leftValue": "={{ $('Read Email').item.binary }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        928,
        -192
      ],
      "id": "64b5778f-6d22-41a9-b966-c7d05bad355e",
      "name": "Get Binary Data"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (const item of items) {\n  for (const [key, binary] of Object.entries(item.binary)) {\n    if (binary.mimeType === 'application/pdf') {\n      newItems.push({\n        json: item.json,\n        binary: {\n          [key]: binary\n        }\n      });\n    }\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        -192
      ],
      "id": "27cd0723-f3bb-4434-9c74-021a97b9e9a8",
      "name": "Filter for PDFs"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc37ad3a-3ccc-4565-941b-88cb42032d81",
              "leftValue": "={{ $binary.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        -192
      ],
      "id": "94efef81-9072-44c4-b66d-7466894321a4",
      "name": "Contains Attachments?"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (const item of $input.all()) {\n  for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {},\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        -192
      ],
      "id": "d79f4707-4b76-4387-86b2-9a2a7af94267",
      "name": "Get PDF attachments"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1824,
        -192
      ],
      "id": "d0f32b30-8593-429f-bfbd-be66e8e4cff2",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        2048,
        -192
      ],
      "id": "b1d5dd2c-7d53-46a9-a9c2-2b9443f48e6a",
      "name": "Get a prompt",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $('Get a prompt').item.json['prompt'] }}\ncontent: {{ $('Extract from PDF').item.json['text'] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2272,
        -192
      ],
      "id": "4aeefed9-a873-4f41-8ecf-31a4d915d040",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://langfuse.ihealth-eng.com/api/public/ingestion",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "langfuseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"batch\": [\n    {\n      \"type\": \"generation\",\n      \"id\": {{ JSON.stringify($('Message a model').item.json['output'][0]['id']) }}, \n      \"timestamp\": {{ JSON.stringify(new Date().toISOString()) }},\n      \"body\": {\n        \"name\": \"chatgpt-generation\",\n        \"traceId\": {{ JSON.stringify($execution.id) }},\n        \"model\": \"gpt-4o\",\n        \"input\": {{ JSON.stringify($('Get a prompt').item.json['prompt']) }},\n        \"output\": {{ JSON.stringify($('Message a model').item.json['output'][0]['content'][0]['text']) }},\n        \"metadata\": {\n          \"workflowId\": {{ JSON.stringify($workflow.id) }},\n          \"source\": \"n8n-automation\",\n          \"executionId\": {{ JSON.stringify($execution.id) }}\n        }\n      }\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2624,
        -288
      ],
      "id": "683ffb01-ab1e-445a-8777-4590fa36d431",
      "name": "HTTP Request",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Weekly OKR Report Test",
        "message": "={{ $('Message a model').item.json['output'][0]['content'][0]['text'] }}",
        "options": {},
        "path": "d0df81eb-ad0d-4a4e-bb01-63de8c77089f"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2624,
        -96
      ],
      "id": "2cba71be-7b50-4dbd-b76a-7fad2d4a6e2d",
      "name": "Create a draft",
      "webhookId": "d0df81eb-ad0d-4a4e-bb01-63de8c77089f",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "https://docs.google.com/spreadsheets/d/1tqK7hrAlj4Q8HVm2QyyF86ghk7KbF3iGRH9QMLiwbQc/edit?gid=0#gid=0"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        480,
        -192
      ],
      "id": "114de2e3-2653-4755-8695-b307196a2610",
      "name": "Append row in sheet"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-13T04:57:49.825Z",
      "createdAt": "2026-02-13T04:57:49.825Z",
      "role": "workflow:owner",
      "workflowId": "2xdZcbYUOteIGH7Z",
      "projectId": "kugITzN49x98FAtM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-13T04:57:49.821Z",
  "versionId": "2578cdab-36cb-4eaa-ac21-29657969ed15"
}