8UzXkVr6eldmxty6OL8Cj.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-14T00:55:39.000Z",
    "createdAt": "2026-02-14T00:54:57.477Z",
    "versionId": "d9ea38e9-6818-4a3b-9a9a-3d8154709c36",
    "workflowId": "8UzXkVr6eldmxty6OL8Cj",
    "nodes": [
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds",
            "mode": "list",
            "cachedResultName": "screening spreadsheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 202066593,
            "mode": "list",
            "cachedResultName": "Clinic 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit#gid=202066593"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $json.createdAt }}",
              "Time": "={{ $json.visitTimeRaw }}",
              "Last A1C": "={{ $json.a1c }}",
              "Notes": "={{ $json.note }}",
              "Patient ID": "={{ $json.screeningInitiation.screeningPatientId }}",
              "Provider": "={{ $json.providerName }}",
              "Pre-screening Status": "={{ $json.preScreeningStatus }}",
              "DOB": "={{ $json.birthday }}",
              "Sex": "={{ $json.gender }}",
              "Insurance": "={{ $json.primaryInsurance }}",
              "CGM Outcome": "={{ $json.cgmOutcome }}",
              "Insulin?": "={{ $json.hasInsulin }}"
            },
            "matchingColumns": [
              "Patient ID"
            ],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Time",
                "displayName": "Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Provider",
                "displayName": "Provider",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Patient ID",
                "displayName": "Patient ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Pre-screening Status",
                "displayName": "Pre-screening Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DOB",
                "displayName": "DOB",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Sex",
                "displayName": "Sex",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Last A1C",
                "displayName": "Last A1C",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Insulin?",
                "displayName": "Insulin?",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Insurance",
                "displayName": "Insurance",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CGM Outcome",
                "displayName": "CGM Outcome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Notes",
                "displayName": "Notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1728,
          -288
        ],
        "id": "dc8bdfcc-f55d-4182-a75d-859264dc1669",
        "name": "append to Sheets",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "E92SBl4Szm9AuPqL",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "data.content",
          "options": {}
        },
        "id": "b8e2d959-ac6e-42ed-a6f8-b3532ac4543f",
        "name": "Split Content",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 1,
        "position": [
          1504,
          -288
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          1056,
          -288
        ],
        "id": "eccb26ef-cfb3-437f-8145-26d8af37729f",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "fieldToSplitOut": "data.content",
          "options": {}
        },
        "id": "c873e54d-490e-429e-b0a1-b923e73ac90a",
        "name": "Split Content1",
        "type": "n8n-nodes-base.itemLists",
        "typeVersion": 1,
        "position": [
          1504,
          -64
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {}
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          1056,
          -64
        ],
        "id": "9eab5c68-8481-471a-9adc-8ce23da17a24",
        "name": "Schedule Trigger1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://uc-prod.ihealth-eng.com/v1/uc/screening-patient/list",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "en,en-US;q=0.9,zh-CN;q=0.8,zh;q=0.7"
              },
              {
                "name": "cache-control",
                "value": "no-cache"
              },
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "origin",
                "value": "https://portal.ihealthunifiedcare.com"
              },
              {
                "name": "pragma",
                "value": "no-cache"
              },
              {
                "name": "priority",
                "value": "u=1, i"
              },
              {
                "name": "referer",
                "value": "https://portal.ihealthunifiedcare.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"macOS\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "cross-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"filter\": {\n    \"clinicId\": \"5b4d072f1d1b2fbe8ddc674f\",\n    \"visitTimeRange\": {\n     \"gte\": \"{{$now.setZone(\"America/Los_Angeles\").format(\"yyyy-MM-dd\")}}T00:00:00\",\n     \"lte\": \"{{$now.setZone(\"America/Los_Angeles\").format(\"yyyy-MM-dd\")}}T23:59:59\"\n    },\n    \"providerIdIn\": {\n      \"in\": [\"5c53676bff867e00121bd789\", \"5b52687346237d0012f1546a\"]\n    }\n  },\n  \"pageInfo\": {\n    \"page\": 1,\n    \"size\": 1000,\n    \"sort\": [\n      {\n        \"direction\": \"ASC\",\n        \"property\": \"visitTime\"\n      }\n    ],\n    \"pagination\": true\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1280,
          -288
        ],
        "id": "7a9a651e-8ffe-4fa9-8710-ba53f11bb669",
        "name": "Get Screening Data - Dariush Zandi  provider id 5c53676bff867e00121bd789",
        "credentials": {
          "httpHeaderAuth": {
            "id": "vclQZ2plyvKtgSUw",
            "name": "Header Auth - iHealth Prod"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://uc-prod.ihealth-eng.com/v1/uc/screening-patient/list",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "en,en-US;q=0.9,zh-CN;q=0.8,zh;q=0.7"
              },
              {
                "name": "cache-control",
                "value": "no-cache"
              },
              {
                "name": "content-type",
                "value": "application/json"
              },
              {
                "name": "origin",
                "value": "https://portal.ihealthunifiedcare.com"
              },
              {
                "name": "pragma",
                "value": "no-cache"
              },
              {
                "name": "priority",
                "value": "u=1, i"
              },
              {
                "name": "referer",
                "value": "https://portal.ihealthunifiedcare.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"macOS\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "cross-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"filter\": {\n    \"clinicId\": \"66075804d3ef147656bc966a\",\n    \"visitTimeRange\": {\n     \"gte\": \"{{$now.setZone(\"America/Los_Angeles\").format(\"yyyy-MM-dd\")}}T00:00:00\",\n     \"lte\": \"{{$now.setZone(\"America/Los_Angeles\").format(\"yyyy-MM-dd\")}}T23:59:59\"\n    }\n  },\n  \"pageInfo\": {\n    \"page\": 1,\n    \"size\": 1000,\n    \"sort\": [\n      {\n        \"direction\": \"ASC\",\n        \"property\": \"visitTime\"\n      }\n    ],\n    \"pagination\": true\n  }\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1280,
          -64
        ],
        "id": "672f3789-d1af-41cd-92a2-b1d6d9726c43",
        "name": "Get Screening Data Douglas Zhang - 5b52687346237d0012f1546a",
        "credentials": {
          "httpHeaderAuth": {
            "id": "vclQZ2plyvKtgSUw",
            "name": "Header Auth - iHealth Prod"
          }
        }
      },
      {
        "parameters": {
          "content": "## I'm a note \n \"clinicId\": \"5b4d072f1d1b2fbe8ddc674f\",\n \"providerId\": \"5b52687346237d0012f1546a\",\n \"providerName\": \"Douglas Zhang\",\n\n\n \"clinicId\": \"5b4d072f1d1b2fbe8ddc674f\",\n \"providerId\": \"5c53676bff867e00121bd789\",\n \"providerName\": \"Dariush Zandi\",\n\n",
          "height": 960,
          "width": 272
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1200,
          -592
        ],
        "typeVersion": 1,
        "id": "28494132-0b07-4ac1-a90e-c66e5795cbd7",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds",
            "mode": "list",
            "cachedResultName": "screening spreadsheet",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 1492575190,
            "mode": "list",
            "cachedResultName": "Clinic 997",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit#gid=1492575190"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Date": "={{ $json.createdAt }}",
              "Time": "={{ $json.visitTimeRaw }}",
              "Last A1C": "={{ $json.a1c }}",
              "Notes": "={{ $json.note }}",
              "Patient ID": "={{ $json.screeningInitiation.screeningPatientId }}",
              "Provider": "={{ $json.providerName }}",
              "Pre-screening Status": "={{ $json.preScreeningStatus }}",
              "DOB": "={{ $json.birthday }}",
              "Sex": "={{ $json.gender }}",
              "Insurance": "={{ $json.primaryInsurance }}",
              "CGM Outcome": "={{ $json.cgmOutcome }}",
              "Insulin?": "={{ $json.hasInsulin }}"
            },
            "matchingColumns": [
              "Patient ID"
            ],
            "schema": [
              {
                "id": "Date",
                "displayName": "Date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Time",
                "displayName": "Time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Provider",
                "displayName": "Provider",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Patient ID",
                "displayName": "Patient ID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Pre-screening Status",
                "displayName": "Pre-screening Status",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "DOB",
                "displayName": "DOB",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Sex",
                "displayName": "Sex",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Last A1C",
                "displayName": "Last A1C",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Insulin?",
                "displayName": "Insulin?",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Insurance",
                "displayName": "Insurance",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "CGM Outcome",
                "displayName": "CGM Outcome",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "Notes",
                "displayName": "Notes",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1744,
          -64
        ],
        "id": "74959cba-2b84-4768-87d7-799b640a7cfe",
        "name": "append to Sheets2",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "E92SBl4Szm9AuPqL",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Split Content": {
        "main": [
          [
            {
              "node": "append to Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Screening Data - Dariush Zandi  provider id 5c53676bff867e00121bd789",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Content1": {
        "main": [
          [
            {
              "node": "append to Sheets2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "Get Screening Data Douglas Zhang - 5b52687346237d0012f1546a",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Screening Data - Dariush Zandi  provider id 5c53676bff867e00121bd789": {
        "main": [
          [
            {
              "node": "Split Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Screening Data Douglas Zhang - 5b52687346237d0012f1546a": {
        "main": [
          [
            {
              "node": "Split Content1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "sage gu",
    "name": "Version d9ea38e9",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "d9ea38e9-6818-4a3b-9a9a-3d8154709c36",
  "connections": {
    "Split Content": {
      "main": [
        [
          {
            "node": "append to Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Screening Data - Dariush Zandi  provider id 5c53676bff867e00121bd789",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Content1": {
      "main": [
        [
          {
            "node": "append to Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get Screening Data Douglas Zhang - 5b52687346237d0012f1546a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Screening Data - Dariush Zandi  provider id 5c53676bff867e00121bd789": {
      "main": [
        [
          {
            "node": "Split Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Screening Data Douglas Zhang - 5b52687346237d0012f1546a": {
      "main": [
        [
          {
            "node": "Split Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-03T23:00:18.027Z",
  "id": "8UzXkVr6eldmxty6OL8Cj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Solution - export screening to spreadsheet",
  "nodes": [
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds",
          "mode": "list",
          "cachedResultName": "screening spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 202066593,
          "mode": "list",
          "cachedResultName": "Clinic 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit#gid=202066593"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.createdAt }}",
            "Time": "={{ $json.visitTimeRaw }}",
            "Last A1C": "={{ $json.a1c }}",
            "Notes": "={{ $json.note }}",
            "Patient ID": "={{ $json.screeningInitiation.screeningPatientId }}",
            "Provider": "={{ $json.providerName }}",
            "Pre-screening Status": "={{ $json.preScreeningStatus }}",
            "DOB": "={{ $json.birthday }}",
            "Sex": "={{ $json.gender }}",
            "Insurance": "={{ $json.primaryInsurance }}",
            "CGM Outcome": "={{ $json.cgmOutcome }}",
            "Insulin?": "={{ $json.hasInsulin }}"
          },
          "matchingColumns": [
            "Patient ID"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Patient ID",
              "displayName": "Patient ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pre-screening Status",
              "displayName": "Pre-screening Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sex",
              "displayName": "Sex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last A1C",
              "displayName": "Last A1C",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insulin?",
              "displayName": "Insulin?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insurance",
              "displayName": "Insurance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CGM Outcome",
              "displayName": "CGM Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1728,
        -288
      ],
      "id": "dc8bdfcc-f55d-4182-a75d-859264dc1669",
      "name": "append to Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E92SBl4Szm9AuPqL",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.content",
        "options": {}
      },
      "id": "b8e2d959-ac6e-42ed-a6f8-b3532ac4543f",
      "name": "Split Content",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1504,
        -288
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1056,
        -288
      ],
      "id": "eccb26ef-cfb3-437f-8145-26d8af37729f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.content",
        "options": {}
      },
      "id": "c873e54d-490e-429e-b0a1-b923e73ac90a",
      "name": "Split Content1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1504,
        -64
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1056,
        -64
      ],
      "id": "9eab5c68-8481-471a-9adc-8ce23da17a24",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uc-prod.ihealth-eng.com/v1/uc/screening-patient/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en,en-US;q=0.9,zh-CN;q=0.8,zh;q=0.7"
            },
            {
              "name": "cache-control",
              "value": "no-cache"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://portal.ihealthunifiedcare.com"
            },
            {
              "name": "pragma",
              "value": "no-cache"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://portal.ihealthunifiedcare.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "cross-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"clinicId\": \"5b4d072f1d1b2fbe8ddc674f\",\n    \"visitTimeRange\": {\n     \"gte\": \"{{$now.setZone(\"America/Los_Angeles\").format(\"yyyy-MM-dd\")}}T00:00:00\",\n     \"lte\": \"{{$now.setZone(\"America/Los_Angeles\").format(\"yyyy-MM-dd\")}}T23:59:59\"\n    },\n    \"providerIdIn\": {\n      \"in\": [\"5c53676bff867e00121bd789\", \"5b52687346237d0012f1546a\"]\n    }\n  },\n  \"pageInfo\": {\n    \"page\": 1,\n    \"size\": 10000,\n    \"sort\": [\n      {\n        \"direction\": \"ASC\",\n        \"property\": \"visitTime\"\n      }\n    ],\n    \"pagination\": true\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -288
      ],
      "id": "7a9a651e-8ffe-4fa9-8710-ba53f11bb669",
      "name": "Get Screening Data - Dariush Zandi  provider id 5c53676bff867e00121bd789",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vclQZ2plyvKtgSUw",
          "name": "Header Auth - iHealth Prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uc-prod.ihealth-eng.com/v1/uc/screening-patient/list",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "en,en-US;q=0.9,zh-CN;q=0.8,zh;q=0.7"
            },
            {
              "name": "cache-control",
              "value": "no-cache"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://portal.ihealthunifiedcare.com"
            },
            {
              "name": "pragma",
              "value": "no-cache"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://portal.ihealthunifiedcare.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Not(A:Brand\";v=\"8\", \"Chromium\";v=\"144\", \"Google Chrome\";v=\"144\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "cross-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/144.0.0.0 Safari/537.36"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"clinicId\": \"66075804d3ef147656bc966a\",\n    \"visitTimeRange\": {\n    \"gte\": \"2025-12-01T00:00:00\",\n     \"lte\": \"{{$now.setZone(\"America/Los_Angeles\").format(\"yyyy-MM-dd\")}}T23:59:59\"\n    }\n  },\n  \"pageInfo\": {\n    \"page\": 1,\n    \"size\": 10000,\n    \"sort\": [\n      {\n        \"direction\": \"ASC\",\n        \"property\": \"visitTime\"\n      }\n    ],\n    \"pagination\": true\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1280,
        -64
      ],
      "id": "672f3789-d1af-41cd-92a2-b1d6d9726c43",
      "name": "Get Screening Data Douglas Zhang - 5b52687346237d0012f1546a",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vclQZ2plyvKtgSUw",
          "name": "Header Auth - iHealth Prod"
        }
      }
    },
    {
      "parameters": {
        "content": "## I'm a note \n \"clinicId\": \"5b4d072f1d1b2fbe8ddc674f\",\n \"providerId\": \"5b52687346237d0012f1546a\",\n \"providerName\": \"Douglas Zhang\",\n\n\n \"clinicId\": \"5b4d072f1d1b2fbe8ddc674f\",\n \"providerId\": \"5c53676bff867e00121bd789\",\n \"providerName\": \"Dariush Zandi\",\n\n",
        "height": 960,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1200,
        -592
      ],
      "typeVersion": 1,
      "id": "28494132-0b07-4ac1-a90e-c66e5795cbd7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds",
          "mode": "list",
          "cachedResultName": "screening spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1492575190,
          "mode": "list",
          "cachedResultName": "Clinic 997",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSyN4Fy9DzksOZwEavWepY-68Hh5RcvH4v4zKuOoDds/edit#gid=1492575190"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.createdAt }}",
            "Time": "={{ $json.visitTimeRaw }}",
            "Last A1C": "={{ $json.a1c }}",
            "Notes": "={{ $json.note }}",
            "Patient ID": "={{ $json.screeningInitiation.screeningPatientId }}",
            "Provider": "={{ $json.providerName }}",
            "Pre-screening Status": "={{ $json.preScreeningStatus }}",
            "DOB": "={{ $json.birthday }}",
            "Sex": "={{ $json.gender }}",
            "Insurance": "={{ $json.primaryInsurance }}",
            "CGM Outcome": "={{ $json.cgmOutcome }}",
            "Insulin?": "={{ $json.hasInsulin }}"
          },
          "matchingColumns": [
            "Patient ID"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Provider",
              "displayName": "Provider",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Patient ID",
              "displayName": "Patient ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pre-screening Status",
              "displayName": "Pre-screening Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sex",
              "displayName": "Sex",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last A1C",
              "displayName": "Last A1C",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insulin?",
              "displayName": "Insulin?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Insurance",
              "displayName": "Insurance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CGM Outcome",
              "displayName": "CGM Outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1744,
        -64
      ],
      "id": "74959cba-2b84-4768-87d7-799b640a7cfe",
      "name": "append to Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E92SBl4Szm9AuPqL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-03T23:00:18.029Z",
      "createdAt": "2026-02-03T23:00:18.029Z",
      "role": "workflow:owner",
      "workflowId": "8UzXkVr6eldmxty6OL8Cj",
      "projectId": "IGL0EzJNN8XZ65mm"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-02-14T01:27:21.683Z",
  "versionId": "aa155458-1849-4a04-8871-0dce956066ee"
}