ADElxljLjOrKayEA.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Google Drive - Download CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download CSV": {
      "main": [
        [
          {
            "node": "CSV -> JSON (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV -> JSON (Function)": {
      "main": [
        [
          {
            "node": "Minimize Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Minimize Rows": {
      "main": [
        [
          {
            "node": "Build Doc Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Doc Content": {
      "main": [
        [
          {
            "node": "Google Docs - Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs - Create": {
      "main": [
        [
          {
            "node": "Google Docs - Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs - Update": {
      "main": [
        [
          {
            "node": "Google Drive - Copy to Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-27T21:13:20.202Z",
  "id": "ADElxljLjOrKayEA",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "id": "96ae8e20-28b9-4a96-9f0d-0969be23802c",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "fileId",
              "value": "1o-LnhhkFkFQVRXLlfNIbYIVFmgzvFyRz"
            },
            {
              "name": "outputFolderId",
              "value": "Ts-x0PhI8ZsWfY2OQk4vmqj7EB6nm6Z7"
            }
          ]
        },
        "options": {}
      },
      "id": "c9fddb1d-4176-4238-81f6-6c69be91f04b",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$json.fileId}}",
        "options": {}
      },
      "id": "426cd790-1b2f-49a8-9328-c86f7c17b75b",
      "name": "Google Drive - Download CSV",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wMYD0s3jSTz9a2TY",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "function parseCSV(text) {\n  const DQ = String.fromCharCode(34);\n  const rows = [];\n  let row = [];\n  let field = '';\n  let i = 0;\n  let inQuotes = false;\n  while (i < text.length) {\n    const ch = text[i];\n    if (inQuotes) {\n      if (ch === DQ) {\n        if (i + 1 < text.length && text[i + 1] === DQ) { field += DQ; i += 2; continue; }\n        inQuotes = false; i++; continue;\n      }\n      field += ch; i++; continue;\n    } else {\n      if (ch === DQ) { inQuotes = true; i++; continue; }\n      if (ch === ',') { row.push(field); field=''; i++; continue; }\n      if (ch === '\\n') { row.push(field); rows.push(row); row=[]; field=''; i++; continue; }\n      if (ch === '\\r') { i++; continue; }\n      field += ch; i++;\n    }\n  }\n  row.push(field); rows.push(row); return rows;\n}\n\nreturn items.flatMap(item => {\n  const bin = (item.binary && item.binary.data && item.binary.data.data) ? item.binary.data.data : null;\n  if (!bin) { throw new Error('No binary CSV found under binary property data'); }\n  const csvText = Buffer.from(bin, 'base64').toString('utf8');\n  const rows = parseCSV(csvText);\n  if (rows.length === 0) return [];\n  const headers = rows[0];\n  const out = [];\n  for (let r = 1; r < rows.length; r++) {\n    const rec = {}; const rw = rows[r];\n    for (let c = 0; c < headers.length; c++) { rec[headers[c]] = (rw[c] === undefined) ? '' : rw[c]; }\n    out.push({ json: rec });\n  }\n  return out;\n});"
      },
      "id": "db89942a-8cb4-4a15-ae5d-c9751b6ef056",
      "name": "CSV -> JSON (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const j = item.json || {};\n  return { json: {\n    patient_id: j.patient_id,\n    active_meds_section: j.active_meds_section,\n    background_section: j.background_section,\n    care_notes_section: j.care_notes_section,\n    core_medications_section: j.core_medications_section,\n    vitals_section: j.vitals_section\n  }};\n});"
      },
      "id": "b8aebf9f-099b-431a-b791-974cd02c411a",
      "name": "Minimize Rows",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        848,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return items.map(item => {\n  const j = item.json || {};\n  const rawId = (j.patient_id !== undefined && j.patient_id !== null) ? String(j.patient_id).trim() : 'unknown_patient';\n  const id = rawId.replace(/[\\\\/]/g, '_').slice(0, 200);\n  const section = (label, text) => label + '\\n' + (text === undefined || text === null ? '' : String(text)) + '\\n\\n';\n  const content = 'Patient ID: ' + id + '\\n\\n' +\n    section('Active Medications', j.active_meds_section) +\n    section('Background', j.background_section) +\n    section('Care Notes', j.care_notes_section) +\n    section('Core Medications', j.core_medications_section) +\n    section('Vitals', j.vitals_section);\n  return { json: { docTitle: id, docContent: content } };\n});"
      },
      "id": "58eb8072-eae1-4cab-bd7b-59bcebaa4c95",
      "name": "Build Doc Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "folderId": "1Ts-x0PhI8ZsWfY2OQk4vmqj7EB6nm6Z7",
        "title": "={{$json.docTitle}}"
      },
      "id": "fe769905-60b9-4a1e-a8cb-bcc702369f2d",
      "name": "Google Docs - Create",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1248,
        0
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "9SEV6sdAWxPvWEC4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "documentURL": "=",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert"
            }
          ]
        }
      },
      "id": "5b5ec1da-fc63-459b-84dc-25ba42c26c4e",
      "name": "Google Docs - Update",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 1,
      "position": [
        1440,
        0
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "9SEV6sdAWxPvWEC4",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": "={{$item(0).$node['Google Docs - Create'].json.documentId || $item(0).$node['Google Docs - Create'].json.id}}",
        "options": {}
      },
      "id": "524699ff-8ffb-4683-8d45-7c44b7c1e6eb",
      "name": "Google Drive - Copy to Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        1648,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wMYD0s3jSTz9a2TY",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-10-27T21:13:20.212Z",
      "createdAt": "2025-10-27T21:13:20.212Z",
      "role": "workflow:owner",
      "workflowId": "ADElxljLjOrKayEA",
      "projectId": "IXgyKSoq6RADLFoU"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-27T21:13:20.202Z",
  "versionId": "8c9d3a4b-8a3e-4d6d-a537-eff6acea4047"
}