FVZbx4eyBH4J1eTE5N9EU.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-18T23:10:09.262Z",
  "id": "FVZbx4eyBH4J1eTE5N9EU",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 35",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ff7a887a-3208-4c41-b31e-e02799bd8a31",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "496125fa-d48b-44a4-80fe-2558174d0202",
      "name": "Get many files"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "5d669ec3-d133-403c-84ad-35a921a07b8c",
      "name": "Code in JavaScript"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-18T23:10:09.264Z",
      "createdAt": "2026-02-18T23:10:09.264Z",
      "role": "workflow:owner",
      "workflowId": "FVZbx4eyBH4J1eTE5N9EU",
      "projectId": "IGL0EzJNN8XZ65mm"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-18T23:10:47.233Z",
  "versionId": "a240d025-ee97-41c2-a8d8-a4e628985d8b"
}