hrULKcd0Evgg74VH.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Fetch Patient API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Patient API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-13T00:47:56.396Z",
  "id": "hrULKcd0Evgg74VH",
  "isArchived": false,
  "meta": null,
  "name": "Tool - Get Patient Info",
  "nodes": [
    {
      "parameters": {},
      "id": "49534f67-148f-43c3-b1f1-e0e4550d65e4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        48
      ]
    },
    {
      "parameters": {
        "url": "=https://uc-prod.ihealth-eng.com/v1/uc/patient/{{ $json.patientId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "options": {}
      },
      "id": "943b9d87-5f8d-4788-95ce-09bc6cf3d15e",
      "name": "Fetch Patient API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vclQZ2plyvKtgSUw",
          "name": "Header Auth - iHealth Prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 简化版：只返回最重要的信息\nconst data = $input.first().json.data;\n\nif (!data) {\n  return {\n    json: {\n      error: \"Patient not found\",\n      patientId: $input.first().json.patientId\n    }\n  };\n}\n\n// 计算年龄\nconst calculateAge = (birthday) => {\n  const today = new Date();\n  const birthDate = new Date(birthday);\n  let age = today.getFullYear() - birthDate.getFullYear();\n  const monthDiff = today.getMonth() - birthDate.getMonth();\n  if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < birthDate.getDate())) {\n    age--;\n  }\n  return age;\n};\n\n// 格式化日期\nconst formatDate = (dateString) => {\n  if (!dateString) return null;\n  return new Date(dateString).toLocaleDateString('en-US');\n};\n\nconst result = {\n  // 基本信息\n  patientId: data.id,\n  name: `${data.profile.firstName} ${data.profile.lastName}`,\n  firstName: data.profile.firstName,\n  lastName: data.profile.lastName,\n  birthday: data.profile.birthday,\n  age: calculateAge(data.profile.birthday),\n  gender: data.profile.gender,\n  \n  // 联系方式\n  phone: data.phone?.[0]?.number || null,\n  address: data.address?.[0] ? \n    `${data.address[0].streetName}, ${data.address[0].city}, ${data.address[0].state} ${data.address[0].postCode}` : null,\n  \n  // 保险\n  primaryInsurance: data.profile.insuranceProvider,\n  secondaryInsurance: data.profile.insuranceProvider2,\n  memberId: data.profile.memberId,\n  \n  // 诊所和医生\n  clinic: {\n    name: data.clinic?.businessName,\n    location: `${data.clinic?.city}, ${data.clinic?.state}`\n  },\n  doctor: data.profile.doctorUser ? \n    `Dr. ${data.profile.doctorUser.firstName} ${data.profile.doctorUser.lastName}` : null,\n  \n  // 护理团队\n  assignedRD: data.assignedToRDUser ? \n    `${data.assignedToRDUser.firstName} ${data.assignedToRDUser.lastName} (${data.assignedToRDUser.title})` : null,\n  assignedCA: data.assignedToCAUser ? \n    `${data.assignedToCAUser.firstName} ${data.assignedToCAUser.lastName} (${data.assignedToCAUser.title})` : null,\n  \n  // 诊断（简化）\n  diagnoses: data.healthConditions?.map(d => `${d.code}: ${d.condition}`).join('; ') || null,\n  primaryDiagnosis: data.healthConditions?.[0] ? \n    `${data.healthConditions[0].code}: ${data.healthConditions[0].condition}` : null,\n  \n  // 项目\n  programs: data.patientListInfo?.programs?.map(p => p.category).join(', ') || null,\n  enrollmentStatus: data.patientListInfo?.enrolledStatus,\n  enrollmentDate: formatDate(data.patientListInfo?.enrollmentDate),\n  \n  // 本月计费状态\n  currentMonthBillable: {\n    eligible: data.monthlyBillableStatistic?.eligible || false,\n    totalTime: data.monthlyBillableStatistic?.totalTime || 0,\n    measurementDays: data.monthlyBillableStatistic?.measurementDays || 0,\n    month: data.monthlyBillableStatistic?.monthOfYear,\n    timeEligible: data.monthlyBillableStatistic?.timeEligible || false,\n    measurementEligible: data.monthlyBillableStatistic?.measurementEligible\n  },\n  \n  // 设备信息\n  hasBloodPressureDevice: !!data.bpDeviceInfo?.recentUsedDeviceMacId,\n  bpLastUsed: formatDate(data.bpDeviceInfo?.recentUsedTime),\n  \n  // 最近血压数据\n  recentBP: data.bpStatData ? \n    `${data.bpStatData.sbp}/${data.bpStatData.dbp} (${data.bpStatData.count} readings)` : null,\n  \n  // 元数据\n  medicalRecordNumber: data.medicalRecordId,\n  patientComplexity: data.complexity,\n  lastUpdated: formatDate(data.updatedAt)\n};\n\nreturn { json: result };"
      },
      "id": "934317f3-ad19-4f3a-8ae0-3ff3a18e630f",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        48
      ]
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-13T00:47:56.405Z",
      "createdAt": "2026-01-13T00:47:56.405Z",
      "role": "workflow:owner",
      "workflowId": "hrULKcd0Evgg74VH",
      "projectId": "IGL0EzJNN8XZ65mm"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-13T01:35:33.000Z",
  "versionId": "85e5166e-8c99-48bc-bffd-6d5bba0b50f1"
}