L601balAnjgn4K2b.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-12T07:30:41.373Z",
    "createdAt": "2026-01-12T07:30:41.373Z",
    "versionId": "9d8e9792-31cf-4132-95cb-2d227a322aa6",
    "workflowId": "L601balAnjgn4K2b",
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "documentId": {
            "__rl": true,
            "value": "1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog",
            "mode": "list",
            "cachedResultName": "mock monthly billable time requiring review + missing",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 623202145,
            "mode": "list",
            "cachedResultName": "Account Link Missing Error",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit#gid=623202145"
          },
          "event": "rowAdded",
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "typeVersion": 1,
        "position": [
          -1056,
          48
        ],
        "id": "97f04a0b-8dc0-4ba1-8a7a-83aba63d2f04",
        "name": "Google Sheets Trigger",
        "credentials": {
          "googleSheetsTriggerOAuth2Api": {
            "id": "MmkaraRpD6ZDC2Gb",
            "name": "Google Sheets Trigger account"
          }
        }
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "spaceId": "=spaces/AAQA9BNMqXw",
          "messageUi": {
            "text": "={{ $json.message }}"
          },
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.googleChat",
        "typeVersion": 1,
        "position": [
          -368,
          48
        ],
        "id": "a67f1108-b1d1-4591-be7d-99eb01fd09ad",
        "name": "Create a message",
        "webhookId": "978c0044-ba6c-4a30-8e6a-02b310a717b6",
        "credentials": {
          "googleChatOAuth2Api": {
            "id": "JWXrbxNG7Kq5QJ8H",
            "name": "Chat account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://uc-prod.ihealth-eng.com/v1/uc/patient/{{ $('Google Sheets Trigger').item.json.patientid }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "application/json, text/plain, */*"
              },
              {
                "name": "accept-language",
                "value": "zh-CN,zh;q=0.9"
              },
              {
                "name": "origin",
                "value": "https://ucfe-dev.ihealth-eng.com"
              },
              {
                "name": "priority",
                "value": "u=1, i"
              },
              {
                "name": "referer",
                "value": "https://ucfe-dev.ihealth-eng.com/"
              },
              {
                "name": "sec-ch-ua",
                "value": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
              },
              {
                "name": "sec-ch-ua-mobile",
                "value": "?0"
              },
              {
                "name": "sec-ch-ua-platform",
                "value": "\"macOS\""
              },
              {
                "name": "sec-fetch-dest",
                "value": "empty"
              },
              {
                "name": "sec-fetch-mode",
                "value": "cors"
              },
              {
                "name": "sec-fetch-site",
                "value": "same-site"
              },
              {
                "name": "user-agent",
                "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -800,
          48
        ],
        "id": "f4a76a08-8cce-44a2-89e9-6c1367a93ce6",
        "name": "Patient Info",
        "credentials": {
          "httpHeaderAuth": {
            "id": "vclQZ2plyvKtgSUw",
            "name": "Header Auth - iHealth Prod"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const assignedToCAUser = $json.data && $json.data.assignedToCAUser ? $json.data.assignedToCAUser : null;\nconst patientProfile = $json.data && $json.data.profile ? $json.data.profile : {};\nconst clinic = $json.data && $json.data.clinic ? $json.data.clinic : {};\n\nconst caEmail = assignedToCAUser ? assignedToCAUser.email : '';\nconst caName = assignedToCAUser ? `${assignedToCAUser.firstName || ''} ${assignedToCAUser.lastName || ''}`.trim() : '';\n\nconst patientName = `${patientProfile.firstName || ''} ${patientProfile.lastName || ''}`.trim();\nconst patientId = $json.data ? $json.data.id : '';\nconst patientBirthday = patientProfile.birthday || '';\nconst clinicId = clinic.id || '';\nconst clinicName = clinic.businessName || '';\n\nconst message =\n  `Dear ${caName},\n\nWe were unable to successfully link the Athena portal to the Unified Care Portal for patient ${patientName} (ID: ${patientId}, DOB: ${patientBirthday}), from clinic \"${clinicName}\" (ID: ${clinicId}).\n\nPlease review this patient's information and assist with resolving the portal connection issue as soon as possible.\n\nThank you!`;\n\nreturn {\n  caEmail,\n  caName,\n  patientId,\n  patientName,\n  patientBirthday,\n  clinicId,\n  clinicName,\n  message\n};"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -592,
          48
        ],
        "id": "3ad40991-383c-43c4-a0cf-f90417ef5a99",
        "name": "Message"
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog",
            "mode": "list",
            "cachedResultName": "mock monthly billable time requiring review + missing",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": 623202145,
            "mode": "list",
            "cachedResultName": "Account Link Missing Error",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit#gid=623202145"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "patientid": "={{ $('Message').item.json.patientId }}",
              "patientName": "={{ $('Message').item.json.patientName }}",
              "DOB": "={{ $('Message').item.json.patientBirthday }}",
              "clinicId": "={{ $('Message').item.json.clinicId }}",
              "clinicName": "={{ $('Message').item.json.clinicName }}",
              "CA Notified": "Y",
              "CA Notified At": "={{ $now.format('yyyy-MM-dd mm:ss') }}",
              "CA Name Notified": "={{ $('Message').item.json.caName }}",
              "CA Email Notified": "={{ $('Message').item.json.caEmail }}"
            },
            "matchingColumns": [
              "patientid"
            ],
            "schema": [
              {
                "id": "patientid",
                "displayName": "patientid",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "patientName",
                "displayName": "patientName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "DOB",
                "displayName": "DOB",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "clinicId",
                "displayName": "clinicId",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "clinicName",
                "displayName": "clinicName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CA Notified",
                "displayName": "CA Notified",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CA Notified At",
                "displayName": "CA Notified At",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CA Name Notified",
                "displayName": "CA Name Notified",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CA Email Notified",
                "displayName": "CA Email Notified",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "displayName": "row_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "readOnly": true,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          -160,
          48
        ],
        "id": "dc1a9f23-2cd5-40ff-af09-db5529404a20",
        "name": "Update row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "E92SBl4Szm9AuPqL",
            "name": "Google Sheets account"
          }
        }
      }
    ],
    "connections": {
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Patient Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create a message": {
        "main": [
          [
            {
              "node": "Update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Patient Info": {
        "main": [
          [
            {
              "node": "Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message": {
        "main": [
          [
            {
              "node": "Create a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "sage gu",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "9d8e9792-31cf-4132-95cb-2d227a322aa6",
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Patient Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patient Info": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message": {
      "main": [
        [
          {
            "node": "Create a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-12T07:16:13.308Z",
  "id": "L601balAnjgn4K2b",
  "isArchived": false,
  "meta": null,
  "name": "Account Link Missing Error",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog",
          "mode": "list",
          "cachedResultName": "mock monthly billable time requiring review + missing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 623202145,
          "mode": "list",
          "cachedResultName": "Account Link Missing Error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit#gid=623202145"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        48
      ],
      "id": "97f04a0b-8dc0-4ba1-8a7a-83aba63d2f04",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "MmkaraRpD6ZDC2Gb",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "spaceId": "=spaces/AAQA9BNMqXw",
        "messageUi": {
          "text": "={{ $json.message }}"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleChat",
      "typeVersion": 1,
      "position": [
        -368,
        48
      ],
      "id": "a67f1108-b1d1-4591-be7d-99eb01fd09ad",
      "name": "Create a message",
      "webhookId": "978c0044-ba6c-4a30-8e6a-02b310a717b6",
      "credentials": {
        "googleChatOAuth2Api": {
          "id": "JWXrbxNG7Kq5QJ8H",
          "name": "Chat account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://uc-prod.ihealth-eng.com/v1/uc/patient/{{ $('Google Sheets Trigger').item.json.patientid }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "accept-language",
              "value": "zh-CN,zh;q=0.9"
            },
            {
              "name": "origin",
              "value": "https://ucfe-dev.ihealth-eng.com"
            },
            {
              "name": "priority",
              "value": "u=1, i"
            },
            {
              "name": "referer",
              "value": "https://ucfe-dev.ihealth-eng.com/"
            },
            {
              "name": "sec-ch-ua",
              "value": "\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""
            },
            {
              "name": "sec-ch-ua-mobile",
              "value": "?0"
            },
            {
              "name": "sec-ch-ua-platform",
              "value": "\"macOS\""
            },
            {
              "name": "sec-fetch-dest",
              "value": "empty"
            },
            {
              "name": "sec-fetch-mode",
              "value": "cors"
            },
            {
              "name": "sec-fetch-site",
              "value": "same-site"
            },
            {
              "name": "user-agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -800,
        48
      ],
      "id": "f4a76a08-8cce-44a2-89e9-6c1367a93ce6",
      "name": "Patient Info",
      "credentials": {
        "httpHeaderAuth": {
          "id": "vclQZ2plyvKtgSUw",
          "name": "Header Auth - iHealth Prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const assignedToCAUser = $json.data && $json.data.assignedToCAUser ? $json.data.assignedToCAUser : null;\nconst patientProfile = $json.data && $json.data.profile ? $json.data.profile : {};\nconst clinic = $json.data && $json.data.clinic ? $json.data.clinic : {};\n\nconst caEmail = assignedToCAUser ? assignedToCAUser.email : '';\nconst caName = assignedToCAUser ? `${assignedToCAUser.firstName || ''} ${assignedToCAUser.lastName || ''}`.trim() : '';\n\nconst patientName = `${patientProfile.firstName || ''} ${patientProfile.lastName || ''}`.trim();\nconst patientId = $json.data ? $json.data.id : '';\nconst patientBirthday = patientProfile.birthday || '';\nconst clinicId = clinic.id || '';\nconst clinicName = clinic.businessName || '';\n\nconst message =\n  `Dear ${caName},\n\nWe were unable to successfully link the Athena portal to the Unified Care Portal for patient ${patientName} (ID: ${patientId}, DOB: ${patientBirthday}), from clinic \"${clinicName}\" (ID: ${clinicId}).\n\nPlease review this patient's information and assist with resolving the portal connection issue as soon as possible.\n\nThank you!`;\n\nreturn {\n  caEmail,\n  caName,\n  patientId,\n  patientName,\n  patientBirthday,\n  clinicId,\n  clinicName,\n  message\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        48
      ],
      "id": "3ad40991-383c-43c4-a0cf-f90417ef5a99",
      "name": "Message"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog",
          "mode": "list",
          "cachedResultName": "mock monthly billable time requiring review + missing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 623202145,
          "mode": "list",
          "cachedResultName": "Account Link Missing Error",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog/edit#gid=623202145"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "patientid": "={{ $('Message').item.json.patientId }}",
            "patientName": "={{ $('Message').item.json.patientName }}",
            "DOB": "={{ $('Message').item.json.patientBirthday }}",
            "clinicId": "={{ $('Message').item.json.clinicId }}",
            "clinicName": "={{ $('Message').item.json.clinicName }}",
            "CA Notified": "Y",
            "CA Notified At": "={{ $now.format('yyyy-MM-dd mm:ss') }}",
            "CA Name Notified": "={{ $('Message').item.json.caName }}",
            "CA Email Notified": "={{ $('Message').item.json.caEmail }}"
          },
          "matchingColumns": [
            "patientid"
          ],
          "schema": [
            {
              "id": "patientid",
              "displayName": "patientid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "patientName",
              "displayName": "patientName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DOB",
              "displayName": "DOB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clinicId",
              "displayName": "clinicId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clinicName",
              "displayName": "clinicName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA Notified",
              "displayName": "CA Notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA Notified At",
              "displayName": "CA Notified At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA Name Notified",
              "displayName": "CA Name Notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CA Email Notified",
              "displayName": "CA Email Notified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -160,
        48
      ],
      "id": "dc1a9f23-2cd5-40ff-af09-db5529404a20",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "E92SBl4Szm9AuPqL",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {
    "Patient Info": [
      {
        "json": {
          "code": 200,
          "data": {
            "id": "65305128eef17d0013d112a4",
            "createdAt": "2023-10-18T21:42:00.021",
            "updatedAt": "2026-01-06T02:06:40.882",
            "auth": {
              "suspended": null,
              "username": "hazel b.jacoby"
            },
            "hasPassword": false,
            "salt": null,
            "isDefaultPassword": null,
            "isTestUser": false,
            "deleted": null,
            "isNew": null,
            "profile": {
              "insuranceProvider": "MEDICARE",
              "insuranceProvider2": "UNITED HEALTHCARE THROUGH AARP",
              "firstName": "HAZEL B.",
              "lastName": "JACOBY",
              "nickName": "",
              "languages": [
                "EL"
              ],
              "memberId": null,
              "billableHealthConditions": [
                {
                  "id": null,
                  "createdAt": null,
                  "updatedAt": null,
                  "description": "Essential (primary) hypertension",
                  "code": "I10"
                },
                {
                  "id": null,
                  "createdAt": null,
                  "updatedAt": null,
                  "description": "Hyperlipidemia, unspecified",
                  "code": "E78.5"
                }
              ],
              "appLanguage": "EL",
              "birthday": "1948-07-19",
              "gender": "F",
              "genderIdentity": "WOMAN",
              "race": null,
              "avatar": null,
              "timezone": "US/Pacific",
              "weight": {
                "value": 109.31688288124829,
                "unit": "kg",
                "bmi": 40.104498780816456,
                "source": "PROFILE",
                "updatedAt": "2025-11-14T23:31:08.990"
              },
              "height": {
                "value": 165.1,
                "unit": "cm"
              },
              "testPatient": null,
              "communitySupport": null,
              "contactInfo": null,
              "otherProviders": null,
              "easeOfFoodAccess": null,
              "behaviorChangeInfo": {
                "behaviorChangeLevel": null,
                "updatedBy": "67fd9b12ca15f6020474fdbb",
                "updatedAt": "2025-11-14T23:31:08.990",
                "isEdit": false,
                "updatedByUser": {
                  "id": "67fd9b12ca15f6020474fdbb",
                  "firstName": "Viviana",
                  "lastName": "Alatorre",
                  "title": "CA",
                  "email": "viviana.alatorre@ihealthlabs.com",
                  "roles": [
                    "CA"
                  ],
                  "clinicIds": [
                    "5b4d072f1d1b2fbe8ddc674f",
                    "60a40917823ab800139e5232",
                    "5e3a07859e052800149a88f8",
                    "67bea55e6f63895ded077d67",
                    "67f82f07c000ac46b727e9af",
                    "67c5f3b86f63895ded09f1c6",
                    "67c5f36b19bcce12de773504",
                    "682d01fd9688d2515a344238",
                    "62d7023a07d8390012b00595",
                    "62d7024507d8390012b00dd4",
                    "5f7f5609ebeed10015e53a6f",
                    "6388e1f9c710e00013be4d7b",
                    "64874300da98140013d43b3d",
                    "5dcc8c4ae59fea41c9b226df",
                    "62d7022807d8390012affc2c",
                    "65f8ca75fc5ab7708af3ff09",
                    "65fdbb73d0c8385b41523be8",
                    "66075804d3ef147656bc966a",
                    "65caca53593cfa001371ddce",
                    "5bcd5c60eb81250b844770fc",
                    "665620e391d4792d579fd99d",
                    "671f0f42cbddfc68d56452f0",
                    "6883d84e3e40b112e29a5031",
                    "6883d8823e40b112e29a503b"
                  ]
                }
              },
              "behaviorChange": "NONE",
              "patientTechLevel": "LOW",
              "doctorId": "60b7fb313c31c000127e9453",
              "doctorUser": {
                "id": "60b7fb313c31c000127e9453",
                "firstName": "Nabil ",
                "lastName": "Abudayeh",
                "title": "MD",
                "email": "drnka@aol.com",
                "roles": [
                  "PROVIDER"
                ],
                "clinicIds": [
                  "60a40917823ab800139e5232"
                ]
              }
            },
            "email": null,
            "majorRole": "MEMBER",
            "loginId": "hazel b.jacoby",
            "phone": [
              {
                "countryCode": "1",
                "areaCode": null,
                "number": "8317074179",
                "verified": null,
                "isPrimary": null,
                "isPrivate": null,
                "type": "MOBILE",
                "canUseForLogin": true,
                "isSmartPhone": null
              },
              {
                "countryCode": null,
                "areaCode": null,
                "number": "5105829027",
                "verified": null,
                "isPrimary": null,
                "isPrivate": null,
                "type": "HOME",
                "canUseForLogin": null,
                "isSmartPhone": null
              }
            ],
            "medicalRecordId": "9224968",
            "source": null,
            "address": [
              {
                "type": "MAIN",
                "streetName": "5514 Greenridge Road",
                "streetNumber": null,
                "floor": null,
                "unit": null,
                "city": "Castro Valley",
                "state": "CA",
                "country": null,
                "postCode": "94552"
              }
            ],
            "monthlyMeasurementDays": 20240407,
            "visitId": null,
            "editWeight": null,
            "editHeight": null,
            "weightFixTag": null,
            "monthlyBillableStatistic": {
              "totalTime": 0,
              "measurementDays": 8,
              "callCount": 0,
              "callEligible": null,
              "timeEligible": false,
              "measurementEligible": null,
              "eligible": false,
              "monthOfYear": 202601,
              "updatedAt": "2026-01-09T06:00:54.937"
            },
            "updatedBy": "65305128eef17d0013d112a4",
            "createdBy": null,
            "patientSource": "MIGRATION",
            "screenStatus": null,
            "clinicId": "60a40917823ab800139e5232",
            "riskLevel": null,
            "patientListInfo": {
              "enrolledStatus": "ENROLLED",
              "vitals": [
                {
                  "id": null,
                  "createdAt": "2025-07-01T18:14:30.014",
                  "updatedAt": null,
                  "type": "BP",
                  "repeat": "DAILY",
                  "templateDetails": {
                    "name": null,
                    "description": null,
                    "schedule": {
                      "_id": "65722b069093f90013dbf096",
                      "mon": null,
                      "tues": null,
                      "wed": null,
                      "thurs": null,
                      "fri": null,
                      "sat": null,
                      "sun": null
                    }
                  },
                  "target": 1,
                  "activated": true
                }
              ],
              "programs": [
                {
                  "id": null,
                  "createdAt": "2023-12-07T20:28:56.547",
                  "updatedAt": null,
                  "category": "RPM",
                  "startDate": "2025-07-01T18:14:30.014"
                },
                {
                  "id": null,
                  "createdAt": "2025-07-01T18:14:27.286",
                  "updatedAt": null,
                  "category": "CCM",
                  "startDate": "2025-07-01T18:14:30.014"
                }
              ],
              "additionalServices": [],
              "enrollmentDate": "2025-07-01T18:14:30.014",
              "dischargedAt": "2025-07-01T18:13:41.915"
            },
            "assignedToRD": "620af5398e93c60012b8ed52",
            "assignedToCA": "67fd9b12ca15f6020474fdbb",
            "tag": "Sejal's pts in clinic 1 to Celinda",
            "complexity": "NON_COMPLEX",
            "associatedList": null,
            "bpDeviceInfo": {
              "recentUsedDeviceMacId": "863257063254991",
              "recentUsedTime": "2026-01-08T15:27:07.000",
              "pairedTime": "2025-01-29T17:45:25.000"
            },
            "bgDeviceInfo": null,
            "patientCgmDevice": {
              "brand": null,
              "model": null,
              "displayName": null,
              "installationDate": null,
              "installedBy": null,
              "removalDate": null,
              "removedBy": null,
              "updatedAt": "2025-07-01T18:14:44.412",
              "updatedBy": "67169b7170a81552e356e3ed",
              "installedByUser": null,
              "removedByUser": null,
              "updatedByUser": null,
              "status": null
            },
            "deleteReason": null,
            "inquiryIdList": null,
            "loginFailCount": null,
            "diagnoses": [
              "HTN",
              "HLD",
              "OTHERS"
            ],
            "icdCodes": [
              "R07.9",
              "I48.0",
              "I42.9",
              "I10",
              "E78.5"
            ],
            "healthConditions": [
              {
                "code": "R07.9",
                "diagnosis": "OTHERS",
                "tooltipHtml": "",
                "condition": "Chest pain, unspecified",
                "isBillable": false,
                "duplicate": null,
                "conflict": null
              },
              {
                "code": "I48.0",
                "diagnosis": "OTHERS",
                "tooltipHtml": "",
                "condition": "Paroxysmal atrial fibrillation",
                "isBillable": true,
                "duplicate": null,
                "conflict": null
              },
              {
                "code": "I42.9",
                "diagnosis": "OTHERS",
                "tooltipHtml": "",
                "condition": "Cardiomyopathy, unspecified",
                "isBillable": true,
                "duplicate": null,
                "conflict": null
              },
              {
                "code": "I10",
                "diagnosis": "HTN",
                "tooltipHtml": "",
                "condition": "Essential (primary) hypertension",
                "isBillable": true,
                "duplicate": null,
                "conflict": null
              },
              {
                "code": "E78.5",
                "diagnosis": "HLD",
                "tooltipHtml": "",
                "condition": "Hyperlipidemia, unspecified",
                "isBillable": true,
                "duplicate": null,
                "conflict": null
              }
            ],
            "protocol": "HTN",
            "patientCategories": [
              "OTHERS",
              "HTN",
              "HLD"
            ],
            "controlLevel": "CONTROLLED",
            "incompleteStatusList": [],
            "lastOutboundCallDate": null,
            "firstCgmDataReceivedAt": null,
            "bpStatData": {
              "sbp": 116,
              "dbp": 73,
              "count": 26,
              "periodStart": "2025-12-09T08:00:00.000",
              "periodEnd": "2026-01-08T07:59:59.999",
              "startDay": 20251209,
              "endDay": 20260107,
              "updatedAt": null
            },
            "bgStatData": null,
            "updatedByUser": null,
            "watchInfo": null,
            "pinInfo": null,
            "clinic": {
              "id": "60a40917823ab800139e5232",
              "businessName": "Nabil Abudayeh, MD",
              "alias": "CA/CV - Dr. Abudayeh, Nabil",
              "orgNumber": "30",
              "address": "20700 Lake Chabot Rd, Suite 107",
              "address2": "",
              "state": "CA",
              "city": "Castro Valley",
              "timezone": "US/Pacific",
              "medicalOrgStatus": "ACTIVE",
              "enableShareAccess": true,
              "addOnServices": [
                "CGM"
              ],
              "serviceConfig": {
                "inClinicInventory": true,
                "callCenterLocalNumber": "",
                "nonSmartPhoneAlternatives": [
                  "WIFI_ROUTER",
                  "HOTSPOT",
                  "BP_CELLULAR_PYLO",
                  "BP_CLEAR"
                ],
                "coBrandConfig": {
                  "coBrandName": "",
                  "logo": {
                    "fileKey": "https://s3.us-west-2.amazonaws.com/unifiedcare-prod-organization-logo/5b4d04591d1b2fbe8ddc674e/UC logo.png"
                  }
                },
                "showLogo": null
              },
              "isMyClinics": true,
              "sequenceNumber": null,
              "nickName": "CA/CV - Dr. Abudayeh, Nabil",
              "clinicStatus": "ACTIVE"
            },
            "medicalOrganizationAssignment": {
              "id": "6614b7de1859032bb102cb8e",
              "createdAt": "2024-04-09T03:37:02.087",
              "updatedAt": "2024-04-09T03:37:02.087",
              "medicalOrgId": "60a40917823ab800139e5232",
              "careGroupId": "65e0ca2b7fff9f03c3b687d1",
              "careCenterId": "65e0a9217fff9f03c3b687ca",
              "careDivisionId": "65e0aa087fff9f03c3b687cb",
              "rootId": "635700bfba27eb0eabce5000",
              "deleted": null,
              "medicalOrganization": {
                "id": "60a40917823ab800139e5232",
                "businessName": "Nabil Abudayeh, MD",
                "alias": "CA/CV - Dr. Abudayeh, Nabil",
                "orgNumber": "30",
                "address": "20700 Lake Chabot Rd, Suite 107",
                "address2": "",
                "state": "CA",
                "city": "Castro Valley",
                "timezone": "US/Pacific",
                "medicalOrgStatus": "ACTIVE",
                "enableShareAccess": true,
                "addOnServices": [
                  "CGM"
                ],
                "serviceConfig": {
                  "inClinicInventory": true,
                  "callCenterLocalNumber": "",
                  "nonSmartPhoneAlternatives": [
                    "WIFI_ROUTER",
                    "HOTSPOT",
                    "BP_CELLULAR_PYLO",
                    "BP_CLEAR"
                  ],
                  "coBrandConfig": {
                    "coBrandName": "",
                    "logo": {
                      "fileKey": "https://s3.us-west-2.amazonaws.com/unifiedcare-prod-organization-logo/5b4d04591d1b2fbe8ddc674e/UC logo.png"
                    }
                  },
                  "showLogo": null
                },
                "isMyClinics": true,
                "sequenceNumber": null,
                "nickName": "CA/CV - Dr. Abudayeh, Nabil",
                "clinicStatus": "ACTIVE"
              },
              "careGroup": {
                "id": "65e0ca2b7fff9f03c3b687d1",
                "name": "Group 4",
                "businessName": null,
                "orgNumber": null
              }
            },
            "assignedToRDUser": {
              "id": "620af5398e93c60012b8ed52",
              "firstName": "Sandeep",
              "lastName": "Kang",
              "title": "HC/CA",
              "email": "sandeep.kang@ihealthlabs.com",
              "avatar": {
                "fileKey": "food-log/user/620af5398e93c60012b8ed52/IMG_1120.jpeg"
              },
              "roles": [
                "HC",
                "CA"
              ],
              "clinicIds": [
                "5b4d072f1d1b2fbe8ddc674f",
                "60a40917823ab800139e5232",
                "5e3a07859e052800149a88f8",
                "67bea55e6f63895ded077d67",
                "67f82f07c000ac46b727e9af",
                "67c5f3b86f63895ded09f1c6",
                "67c5f36b19bcce12de773504",
                "682d01fd9688d2515a344238",
                "65fdcae6d0c8385b41523d9c",
                "65286576d3bef600135b7a65",
                "65ce9148f1541f001365c6fc",
                "63936ad0af5b370013fb5171",
                "6536e58c17fea2001327a97e",
                "652ee45d6751480013bda45b",
                "63470211e3b38f0013d4633e",
                "63e6c0d74b5ebb0013e849ba",
                "651c947809211b0013d252b9",
                "65c9bea124af530013385688",
                "5f4590bbe8f9890013dc3e26",
                "5db762bd72a7ef0e520273a0",
                "66955af647cf917c8ba5f82a",
                "66b05020ea2d9f5c5cbb8207",
                "66b5b7436a57267b093e8d26",
                "66db2de27463c55497eb47d8",
                "670ddc019d6e5166de671817",
                "671674e6c5820e6e5ae53549",
                "6723b06ecbddfc68d56544db",
                "67805ff6aafde53d887a16be",
                "68717084e9b73371607afac8",
                "68b0d9d0733e85329dbae373",
                "68daaf7ada9fba66559e83cf",
                "5bc7d750936b862640f070df",
                "5ffce3fb718247001480b7a0",
                "651df7ec4c28a60013e5a32b",
                "651af07c2185df00135ab78d",
                "64efbebe5e1797001369af78",
                "5fd1079f71874b00134cb04c",
                "62cf2aa1d1e56d00148f5089",
                "66356bc9e25b79452421c231",
                "663c7fbfa472e564bbd4814d",
                "663c8015a472e564bbd48155",
                "664c3d50947ebf673fd0f2bb",
                "66983bd2193aa2047421b11d",
                "66356d8ae25b79452421c2f7",
                "6683443a7c85c2016bce60ce",
                "66de8b64360b0a254f895eed",
                "66e0860e3d64f74f199a124b",
                "66eb4ea0e0d59c5ba813dd73",
                "670dd99e2dcc347a1f6d4feb",
                "681c2c4d24ab4f1a1b0b117b",
                "6938cb800b86487fff3cca36",
                "64763db2ff0e8000138fccdf",
                "65369df9eef17d00131f8898",
                "648a4e90ff0e800013c0c76b",
                "65679381a598b800143ca004",
                "651b04688f3f4f0013d19a8a",
                "630fd37b9c1847001323dfed",
                "651310c6e11eeb001318ea26",
                "6578de4810802b0013d77622",
                "65555ca80079b3001365491e",
                "62f1d2e7ff15bf0013c56c58",
                "64d133ea769f200014c72a31",
                "6427636651916300134df0e0",
                "656a28246d904300132b2f4f",
                "6178ed79ef9e2a00120dd3a2",
                "5feccb0b67978c00147a37b7",
                "632c5b1b8473f80013a5d275",
                "632ca85f8cf8da001456d378",
                "666b5a7a3275e41c87557c5e",
                "6679eb39f04e6e62dc663401",
                "670938f8d3cb061168a2f6f6",
                "6769d675ab47bf4bb21dbfc4",
                "684887f73d401140874efc99",
                "68b222c7e10dd600b2d935ce",
                "5fa9c37efbd9380013221261",
                "5f7f4c6997e0520015b385e9",
                "607db5b278eb9a00131a979a",
                "620bd78d64085e0014b18c2c",
                "60946b65252aa50014c05040",
                "613760a44475f500121b9835",
                "638a94fe0870f900134d3bdd",
                "632a095b1ff9ac0013dfca65",
                "64359a7593e76c0013207568",
                "5f9062c85d914b001434956c",
                "6172e169ef9e2a00120c8e0e",
                "5f90f8c7a3562700134b96bd",
                "663a4a1c2f630c3ff7d8caaa",
                "63f76060a879a10013ae0a7c"
              ]
            },
            "assignedToCAUser": {
              "id": "67fd9b12ca15f6020474fdbb",
              "firstName": "Viviana",
              "lastName": "Alatorre",
              "title": "CA",
              "email": "viviana.alatorre@ihealthlabs.com",
              "roles": [
                "CA"
              ],
              "clinicIds": [
                "5b4d072f1d1b2fbe8ddc674f",
                "60a40917823ab800139e5232",
                "5e3a07859e052800149a88f8",
                "67bea55e6f63895ded077d67",
                "67f82f07c000ac46b727e9af",
                "67c5f3b86f63895ded09f1c6",
                "67c5f36b19bcce12de773504",
                "682d01fd9688d2515a344238",
                "62d7023a07d8390012b00595",
                "62d7024507d8390012b00dd4",
                "5f7f5609ebeed10015e53a6f",
                "6388e1f9c710e00013be4d7b",
                "64874300da98140013d43b3d",
                "5dcc8c4ae59fea41c9b226df",
                "62d7022807d8390012affc2c",
                "65f8ca75fc5ab7708af3ff09",
                "65fdbb73d0c8385b41523be8",
                "66075804d3ef147656bc966a",
                "65caca53593cfa001371ddce",
                "5bcd5c60eb81250b844770fc",
                "665620e391d4792d579fd99d",
                "671f0f42cbddfc68d56452f0",
                "6883d84e3e40b112e29a5031",
                "6883d8823e40b112e29a503b"
              ]
            },
            "cgmPotential": false,
            "patientExtendedInfo": {
              "id": "65305128eef17d0013d112a4",
              "intakeFormSubmitted": false
            }
          },
          "msg": null,
          "error": null
        }
      }
    ],
    "Google Sheets Trigger": [
      {
        "json": {
          "patientid": "65305128eef17d0013d112a4",
          "patientName": "",
          "DOB": "",
          "clinicId": "",
          "clinicOrgNumber": "",
          "clinicName": "",
          "clinicAlias": "",
          "CA Notified": "",
          "CA Notified At": "",
          "CA Name Notified": "",
          "CA Email Notified": ""
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Create a message": [
      {
        "json": {
          "name": "spaces/AAQA9BNMqXw/messages/3Y-0_udLy90.3Y-0_udLy90",
          "sender": {
            "name": "users/111761692213128887052",
            "type": "HUMAN"
          },
          "createTime": "2026-01-12T07:27:44.339535Z",
          "text": "Dear Viviana Alatorre,\n\nWe were unable to successfully link the Athena portal to the Unified Care Portal for patient HAZEL B. JACOBY (ID: 65305128eef17d0013d112a4, DOB: 1948-07-19), from clinic \"Nabil Abudayeh, MD\" (ID: 60a40917823ab800139e5232).\n\nPlease review this patient's information and assist with resolving the portal connection issue as soon as possible.\n\nThank you!",
          "thread": {
            "name": "spaces/AAQA9BNMqXw/threads/3Y-0_udLy90"
          },
          "space": {
            "name": "spaces/AAQA9BNMqXw"
          },
          "argumentText": "Dear Viviana Alatorre,\n\nWe were unable to successfully link the Athena portal to the Unified Care Portal for patient HAZEL B. JACOBY (ID: 65305128eef17d0013d112a4, DOB: 1948-07-19), from clinic \"Nabil Abudayeh, MD\" (ID: 60a40917823ab800139e5232).\n\nPlease review this patient's information and assist with resolving the portal connection issue as soon as possible.\n\nThank you!",
          "formattedText": "Dear Viviana Alatorre,\n\nWe were unable to successfully link the Athena portal to the Unified Care Portal for patient HAZEL B. JACOBY (ID: 65305128eef17d0013d112a4, DOB: 1948-07-19), from clinic \"Nabil Abudayeh, MD\" (ID: 60a40917823ab800139e5232).\n\nPlease review this patient's information and assist with resolving the portal connection issue as soon as possible.\n\nThank you!"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Update row in sheet": [
      {
        "json": {
          "patientid": "65305128eef17d0013d112a4",
          "patientName": "HAZEL B. JACOBY",
          "DOB": "1948-07-19",
          "clinicId": "60a40917823ab800139e5232",
          "clinicName": "Nabil Abudayeh, MD",
          "CA Notified": "Y",
          "CA Notified At": "2026-01-12 30:12",
          "CA Name Notified": "Viviana Alatorre",
          "CA Email Notified": "viviana.alatorre@ihealthlabs.com"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2026-01-12T07:16:13.319Z",
      "createdAt": "2026-01-12T07:16:13.319Z",
      "role": "workflow:owner",
      "workflowId": "L601balAnjgn4K2b",
      "projectId": "IGL0EzJNN8XZ65mm"
    }
  ],
  "staticData": {
    "node:Google Sheets Trigger": {
      "documentId": "1YKcYEc6011fPH0j3YYIxMO5Z8rQpYtzdTaL0LP5EDog",
      "sheetId": 623202145,
      "lastIndexChecked": 1
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-12T19:21:24.545Z",
  "versionId": "9d8e9792-31cf-4132-95cb-2d227a322aa6"
}