OYkquxpHpnUh4PwN.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message id": {
      "main": [
        [
          {
            "node": "Filter for PDFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Email": {
      "main": [
        [
          {
            "node": "Contains Attachments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Binary Data": {
      "main": [
        [
          {
            "node": "Get message id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for PDFs": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Get PDF attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contains Attachments?": {
      "main": [
        [
          {
            "node": "Get Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF attachments": {
      "main": [
        [
          {
            "node": "Extract from PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from PDF": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get a prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        []
      ]
    },
    "Get a prompt": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-05T05:41:15.413Z",
  "id": "OYkquxpHpnUh4PwN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Weekly OKR Summary copy",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "323d111a-60cf-40ee-9885-23d9c3643699",
              "name": "attachments",
              "value": "={{ $('Filter for PDFs').item.binary.keys() }}",
              "type": "array"
            },
            {
              "id": "a452e0d5-d9d2-463c-85dd-90b2acc8c5d9",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1520,
        96
      ],
      "id": "74080cbb-95a1-4b00-ac1c-bb9d726c1bda",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "attachments",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1888,
        112
      ],
      "id": "dbec38e3-50ee-448b-ae3a-1c7dc333f6f3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "message_id",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2112,
        304
      ],
      "id": "43059b80-76b5-4f8b-b7f9-2aba867c7e76",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $json.attachments }}",
        "name": "={{ $('Merge').item.binary['attachment_1'].fileName.split('_[')[0].toLowerCase() }}_{{ $now.minus({ weeks: 1}).startOf('week').minus({days: 1}).toFormat('yyyyMMdd') }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "2026 Week 06"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2672,
        48
      ],
      "id": "a99c4230-cacb-4d85-a1ef-2e3995e2a9a5",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qmCJM2jyvSM9o5FQ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        208
      ],
      "id": "e0709a1a-5a12-409d-92c7-fc8d6dde2abf",
      "name": "Get message id",
      "webhookId": "973dd3da-ed31-4ed3-bca0-f6c68d69b697",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "sender": "no-reply@quicksight.aws"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        384,
        -48
      ],
      "id": "e6f5aa6a-f97e-47cb-a206-e6dcf7d41a43",
      "name": "Read Email",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7cdbf83e-33cb-43d8-9763-c4b8bae0b5d6",
              "leftValue": "={{ $('Read Email').item.binary }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        816,
        208
      ],
      "id": "0e174083-a05a-4ca5-9ad9-8c1d99fa0744",
      "name": "Get Binary Data"
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\nfor (const item of items) {\n  for (const [key, binary] of Object.entries(item.binary)) {\n    if (binary.mimeType === 'application/pdf') {\n      newItems.push({\n        json: item.json,\n        binary: {\n          [key]: binary\n        }\n      });\n    }\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        208
      ],
      "id": "c74ecde5-95b3-4eee-ad30-5d12d08e46d1",
      "name": "Filter for PDFs"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        368,
        384
      ],
      "id": "66e8ab75-f9ca-4538-b58e-0ea49371a7c4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "2026",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        656,
        384
      ],
      "id": "23ed648a-0583-42e1-8fff-abcf8b07449b",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qmCJM2jyvSM9o5FQ",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3233589b-0b99-4439-ab29-1f314a0b1ab2",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        48
      ],
      "id": "cb17f19a-bd0d-4f38-8665-b2062aa30b49",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bc37ad3a-3ccc-4565-941b-88cb42032d81",
              "leftValue": "={{ $binary.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        -48
      ],
      "id": "ae63f374-ac8e-4f7b-93cb-4e4cdd00b6ab",
      "name": "Contains Attachments?"
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (const item of $input.all()) {\n  for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {},\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -128
      ],
      "id": "85fd026a-a269-47c1-bda7-bdbcf6dd2640",
      "name": "Get PDF attachments"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        -560
      ],
      "id": "e461eab7-4784-419b-82ff-be16001733ca",
      "name": "Extract from PDF"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## PDF Summarization System Prompt\n\nYou are a specialized AI assistant tasked with creating concise, accurate summaries of documents. Your goal is to extract and distill the most important information from the content provided as input and present it in a clear, precise plain text summary.\n\n### Your responsibilities:\n\n1. Identify the main topic and purpose of the document\n2. Extract key points, arguments, findings, or conclusions\n3. Preserve essential data points, statistics, dates, and figures\n4. Recognize and highlight critical information and takeaways\n5. Maintain the original document's logical structure in your summary\n6. Prioritize information based on its significance to the document's purpose\n\n### Summary format:\n\n- Provide your summary in plain text only (no formatting)\n- Begin with a concise overview of the document's main topic and purpose\n- Present important points in a logical, sequential narrative\n- Use clear, direct language that accurately represents the original content\n- Maintain appropriate context for all extracted information\n- Keep the summary concise while including all crucial information\n- Use proper transitions between topics to maintain readability\n\n### What to exclude:\n\n- Minor details that don't contribute to the main points\n- Repetitive information\n- Extensive examples unless they're critical to understanding\n- Citations, references, and bibliographic details unless specifically important\n- Decorative or non-essential images (describe important visualized data if relevant)\n- Your own interpretations or opinions not supported by the document\n\n{{ $json.text }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1456,
        -592
      ],
      "id": "3d998559-5bdc-4876-81e3-2f9da63cf610",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1472,
        -416
      ],
      "id": "d4c871fa-e39c-48d6-846e-d8159bc89a6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1616,
        -384
      ],
      "id": "c4a5b288-c03f-46e2-b04e-5af50e221edb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "https://langfuse.ihealth-eng.com",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "langfuseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1872,
        -208
      ],
      "id": "ae14b702-78d6-4e1a-89ff-5e481cb3fa73",
      "name": "HTTP Request",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        1472,
        -224
      ],
      "id": "720821ed-127e-44c4-8770-b1d8be99885c",
      "name": "Get a prompt",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $('Get a prompt').item.json['prompt'] }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1600,
        -48
      ],
      "id": "15e6dfd7-60f1-45d1-a086-d45f02cbec7a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-05T05:41:15.415Z",
      "createdAt": "2026-02-05T05:41:15.415Z",
      "role": "workflow:owner",
      "workflowId": "OYkquxpHpnUh4PwN",
      "projectId": "kugITzN49x98FAtM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-05T06:03:40.045Z",
  "versionId": "ab645145-f0c5-471e-be80-89be1d1d8a21"
}