pAGhqbznKLUAhsEwGNHup.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-20T21:31:00.000Z",
    "createdAt": "2026-02-20T21:30:56.091Z",
    "versionId": "d19f9c3e-5d63-417d-99bf-2b60d94c4717",
    "workflowId": "pAGhqbznKLUAhsEwGNHup",
    "nodes": [
      {
        "parameters": {
          "authentication": "basicAuth",
          "formTitle": "DumpReport",
          "formFields": {
            "values": [
              {
                "fieldLabel": "dumpReport",
                "fieldType": "file"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.5,
        "position": [
          -640,
          0
        ],
        "id": "11779ac2-0d9a-441f-a6be-84a7c43c9bce",
        "name": "DumpReport submission",
        "webhookId": "b91e2363-f1ab-4e14-9be3-83b8482c2eb0",
        "credentials": {
          "httpBasicAuth": {
            "id": "vz3iQyLE8VQecW8B",
            "name": "dump report upload"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst item = $input.first();\nconst file = item.binary.dumpReport;\n\nreturn [\n  {\n    json: {\n      fileName: file.fileName,\n      mimeType: file.mimeType\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -432,
          0
        ],
        "id": "d1d0fefd-104f-4fc4-9148-526e304e2c0f",
        "name": "Code in JavaScript1"
      }
    ],
    "connections": {
      "DumpReport submission": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Lu Ouyang",
    "name": "Version d19f9c3e",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "d19f9c3e-5d63-417d-99bf-2b60d94c4717",
  "connections": {
    "DumpReport submission": {
      "main": [
        []
      ]
    },
    "FetchDumpReport": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FetchClinicStatus": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-04T19:49:08.855Z",
  "id": "pAGhqbznKLUAhsEwGNHup",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DumpReportChecking",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "DumpReport",
        "formFields": {
          "values": [
            {
              "fieldLabel": "dumpReport",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1040,
        -80
      ],
      "id": "11779ac2-0d9a-441f-a6be-84a7c43c9bce",
      "name": "DumpReport submission",
      "webhookId": "b91e2363-f1ab-4e14-9be3-83b8482c2eb0",
      "credentials": {
        "httpBasicAuth": {
          "id": "vz3iQyLE8VQecW8B",
          "name": "dump report upload"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10AypHrMSRpIY_YiK7wZvFH4B0LN2F6Ja64LXhimS3o0",
          "mode": "list",
          "cachedResultName": "Organization Name to Clinical Group Mapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AypHrMSRpIY_YiK7wZvFH4B0LN2F6Ja64LXhimS3o0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1257389047,
          "mode": "list",
          "cachedResultName": "ALL Clinic - Zone Mapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10AypHrMSRpIY_YiK7wZvFH4B0LN2F6Ja64LXhimS3o0/edit#gid=1257389047"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -272
      ],
      "id": "f5810568-8c0a-4110-a009-e1949c5e7ef8",
      "name": "FetchClinicStatus",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AkxcXiliPoTpkXRS",
          "name": "N8N googlesheet"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KnTx2B9CVyCIYJjh1XwyExSq0twDLBt-mRVGU5xtOQU",
          "mode": "list",
          "cachedResultName": "DUMP REPORT_2026-02-19 15_04_50",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KnTx2B9CVyCIYJjh1XwyExSq0twDLBt-mRVGU5xtOQU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 160746373,
          "mode": "list",
          "cachedResultName": "dump report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KnTx2B9CVyCIYJjh1XwyExSq0twDLBt-mRVGU5xtOQU/edit#gid=160746373"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -768,
        -64
      ],
      "id": "1ccd123f-99d8-47c4-9035-58b1b6b64fb3",
      "name": "FetchDumpReport",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AkxcXiliPoTpkXRS",
          "name": "N8N googlesheet"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -464,
        -240
      ],
      "id": "4be0c4d4-3fc9-4672-8490-24b579b45bd8",
      "name": "Merge"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-04T19:49:08.858Z",
      "createdAt": "2026-02-04T19:49:08.858Z",
      "role": "workflow:owner",
      "workflowId": "pAGhqbznKLUAhsEwGNHup",
      "projectId": "eMUywwHEm5lrOsOi"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2026-01-16T22:51:47.521Z",
      "createdAt": "2026-01-16T22:51:47.521Z",
      "id": "2Yso2axgFawSJG9i",
      "name": "billing"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-20T23:59:38.466Z",
  "versionId": "98409e4b-6c58-4c83-9a1d-b6ae95f09f3d"
}