T94SYrNWnL3z54YE.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Daily 9 AM PST": {
      "main": [
        [
          {
            "node": "Fetch CHANGELOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CHANGELOG": {
      "main": [
        [
          {
            "node": "Parse & Extract Features",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Extract Features": {
      "main": [
        [
          {
            "node": "Has Raw Features?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Raw Features?": {
      "main": [
        [
          {
            "node": "AI Assessment",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Assessment": {
      "main": [
        [
          {
            "node": "Build Chat Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Message": {
      "main": [
        [
          {
            "node": "Has Meaningful Features?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Meaningful Features?": {
      "main": [
        [
          {
            "node": "Send to Phoebe Task Mgmt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send to Test Space",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error to Test Space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Assessment",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-13T02:07:10.003Z",
  "id": "T94SYrNWnL3z54YE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Claude Code New Features Notifier",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 9 AM PST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        32
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/anthropics/claude-code/main/CHANGELOG.md",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "fetch-changelog",
      "name": "Fetch CHANGELOG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst changelog = $input.first().json.data;\n\n// Parse changelog into version blocks\nconst versionBlocks = [];\nconst lines = changelog.split('\\n');\nlet currentVersion = null;\nlet currentEntries = [];\n\nfor (const line of lines) {\n  const versionMatch = line.match(/^## (\\d+\\.\\d+\\.\\d+)/);\n  if (versionMatch) {\n    if (currentVersion) {\n      versionBlocks.push({ version: currentVersion, entries: currentEntries });\n    }\n    currentVersion = versionMatch[1];\n    currentEntries = [];\n  } else if (currentVersion && line.startsWith('- ')) {\n    currentEntries.push(line.substring(2).trim());\n  }\n}\nif (currentVersion) {\n  versionBlocks.push({ version: currentVersion, entries: currentEntries });\n}\n\nconst lastSeen = staticData.lastSeenVersion || null;\n\n// Find new versions\nlet newVersions = [];\nif (!lastSeen) {\n  if (versionBlocks.length > 0) {\n    newVersions = [versionBlocks[0]];\n  }\n} else {\n  for (const block of versionBlocks) {\n    if (block.version === lastSeen) break;\n    newVersions.push(block);\n  }\n}\n\n// Filter to only feature entries by verb\nconst featureVerbs = ['Added', 'Introducing', 'New', 'Released', 'Enabled'];\nconst featureVersions = [];\n\nfor (const v of newVersions) {\n  const features = v.entries.filter(entry => {\n    return featureVerbs.some(verb => entry.startsWith(verb + ' '));\n  });\n  if (features.length > 0) {\n    featureVersions.push({ version: v.version, features });\n  }\n}\n\n// Update static data with latest version\nif (versionBlocks.length > 0) {\n  staticData.lastSeenVersion = versionBlocks[0].version;\n}\n\nif (featureVersions.length === 0) {\n  return [{ json: { hasFeatures: false } }];\n}\n\n// Build feature list for AI prompt\nlet featureList = '';\nfor (const v of featureVersions) {\n  featureList += `Version ${v.version}:\\n`;\n  for (const f of v.features) {\n    featureList += `- ${f}\\n`;\n  }\n  featureList += '\\n';\n}\n\nreturn [{ json: { hasFeatures: true, featureVersions, featureList } }];"
      },
      "id": "parse-filter",
      "name": "Parse & Extract Features",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-features",
              "leftValue": "={{ $json.hasFeatures }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-features",
      "name": "Has Raw Features?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        672,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'You are reviewing changelog entries for Claude Code, an AI coding assistant CLI tool.\\n\\nBelow are new feature entries from recent releases. Identify ONLY the features that would be genuinely useful and noteworthy for an operations/business professional who uses Claude Code as a productivity tool.\\n\\nINCLUDE:\\n- Major new capabilities (new modes, agent features, collaboration tools)\\n- New integrations or model support\\n- Significant UX improvements that change how you work\\n- New commands or tools that enable new workflows\\n\\nEXCLUDE:\\n- Minor internal/technical improvements (telemetry attributes, error message tweaks)\\n- Developer-only features (API changes, SDK updates, provider-specific fixes)\\n- Safety guards or defensive checks\\n- Performance tweaks without user-visible impact\\n\\nFeatures to review:\\n' + $json.featureList + '\\nRespond with ONLY valid JSON in this format:\\n[{\"version\": \"2.1.32\", \"features\": [\"Feature description 1\", \"Feature description 2\"]}]\\n\\nIf no features are meaningful, respond with: []' }}"
      },
      "id": "ai-assessment",
      "name": "AI Assessment",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        896,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.first().json.text || $input.first().json.response || '';\n\n// Parse JSON from AI response — handle markdown code blocks\nlet cleaned = aiResponse.trim();\nif (cleaned.startsWith('```')) {\n  cleaned = cleaned.replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n}\n\nlet meaningful = [];\ntry {\n  meaningful = JSON.parse(cleaned);\n} catch (e) {\n  // If JSON parse fails, return no features\n  return [{ json: { hasMeaningful: false, message: '' } }];\n}\n\nif (!Array.isArray(meaningful) || meaningful.length === 0) {\n  return [{ json: { hasMeaningful: false, message: '' } }];\n}\n\n// Build chat message\nlet message = '';\nfor (const v of meaningful) {\n  message += `\\ud83d\\ude80 *Claude Code v${v.version}* \\u2014 New Features\\n\\n`;\n  for (const f of v.features) {\n    message += `\\u2022 ${f}\\n`;\n  }\n  message += '\\n';\n}\nmessage += `\\ud83d\\udcc4 Full changelog: https://github.com/anthropics/claude-code/blob/main/CHANGELOG.md`;\n\nreturn [{ json: { hasMeaningful: true, message } }];"
      },
      "id": "build-message",
      "name": "Build Chat Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-meaningful",
              "leftValue": "={{ $json.hasMeaningful }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-meaningful",
      "name": "Has Meaningful Features?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1472,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQAamP-Wx0/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=HCqXlM6LdHArEhQX9Oo2KNOvmlf9_vIicaJ3adNVxA0",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.message }) }}",
        "options": {}
      },
      "id": "send-chat",
      "name": "Send to Phoebe Task Mgmt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        -64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQArkdpCu4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=73gOUomiJ0I3JIfi746DoVGZfN98WtxzqIT0IeI-0Mg",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.message }) }}",
        "options": {}
      },
      "id": "send-test",
      "name": "Send to Test Space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        128
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQArkdpCu4/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=73gOUomiJ0I3JIfi746DoVGZfN98WtxzqIT0IeI-0Mg",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: '⚠️ *Claude Code Notifier Error*\\n\\n' + $json.execution.error.message }) }}",
        "options": {}
      },
      "id": "send-error",
      "name": "Send Error to Test Space",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        368
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        976,
        256
      ],
      "id": "617992f9-face-47ff-ac7a-ca074b8fc57e",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "7xffbTDUCqwHleuN",
          "name": "Anthropic account 2"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Los_Angeles",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-13T02:07:10.005Z",
      "createdAt": "2026-02-13T02:07:10.005Z",
      "role": "workflow:owner",
      "workflowId": "T94SYrNWnL3z54YE",
      "projectId": "SzgLfYyy3lWDJHJA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-14T00:56:31.522Z",
  "versionId": "a688a996-6aec-49b9-bb99-5209945e7182"
}