tqEPlt71_lN7qsSYOUIvM.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Step 1: UC Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 1: UC Login": {
      "main": [
        [
          {
            "node": "Extract Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Token": {
      "main": [
        [
          {
            "node": "Step 2: Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step 2: Get Messages": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Split Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Messages": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-20T01:05:42.217Z",
  "id": "tqEPlt71_lN7qsSYOUIvM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 38",
  "nodes": [
    {
      "parameters": {},
      "id": "31e35523-6c3a-4745-b66d-4b07b1119aae",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        336,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-email",
              "name": "email",
              "value": "sage.gu@ihealthlabs.com",
              "type": "string"
            },
            {
              "id": "set-password",
              "name": "password",
              "value": "iHealth99$",
              "type": "string"
            },
            {
              "id": "set-patient-id",
              "name": "patientId",
              "value": "67edcdcc4c2d90530f84bece",
              "type": "string"
            },
            {
              "id": "set-limit",
              "name": "limit",
              "value": 50,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "9752e333-032d-4458-ae63-c796650b11af",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        -128
      ],
      "notes": "Configure patient ID and message limit"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uc-prod.ihealth-eng.com/v1/uc/auth/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json, text/plain, */*"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "origin",
              "value": "https://portal.ihealthunifiedcare.com"
            },
            {
              "name": "referer",
              "value": "https://portal.ihealthunifiedcare.com/"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"usernameOrEmail\": \"{{ $json.email }}\",\n  \"password\": \"{{ $json.password }}\"\n}",
        "options": {}
      },
      "id": "914ccdd5-237b-4c47-bfaa-444d03b3cb19",
      "name": "Step 1: UC Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        -128
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-token",
              "name": "sessionToken",
              "value": "={{ $json.data.sessionToken }}",
              "type": "string"
            },
            {
              "id": "keep-patient-id",
              "name": "patientId",
              "value": "={{ $node['Set Config'].json.patientId }}",
              "type": "string"
            },
            {
              "id": "keep-limit",
              "name": "limit",
              "value": "={{ $node['Set Config'].json.limit }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "1a1fd031-c27d-4f28-a276-bdeb804fbf80",
      "name": "Extract Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        -128
      ]
    },
    {
      "parameters": {
        "url": "=https://uc-msg.ihealth-eng.com/api/patient/{{ $json.patientId }}/messages?limit={{ $json.limit }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-session-token",
              "value": "={{ $json.sessionToken }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11f2e1ec-4947-45f9-b508-77e62af262d8",
      "name": "Step 2: Get Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -128
      ],
      "notes": "Fetch most recent messages"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-channel-id",
              "name": "channelId",
              "value": "={{ $json.channelId }}",
              "type": "string"
            },
            {
              "id": "extract-patient-id",
              "name": "patientId",
              "value": "={{ $json.patientId }}",
              "type": "string"
            },
            {
              "id": "extract-timezone",
              "name": "timezone",
              "value": "={{ $json.timezone }}",
              "type": "string"
            },
            {
              "id": "extract-total",
              "name": "totalMessages",
              "value": "={{ $json.total }}",
              "type": "number"
            },
            {
              "id": "extract-has-more",
              "name": "hasMore",
              "value": "={{ $json.hasMore }}",
              "type": "boolean"
            },
            {
              "id": "extract-oldest",
              "name": "oldestTimestamp",
              "value": "={{ $json.oldestTimestamp }}",
              "type": "string"
            },
            {
              "id": "extract-messages",
              "name": "messages",
              "value": "={{ $json.messages }}",
              "type": "array"
            },
            {
              "id": "count-returned",
              "name": "messagesReturned",
              "value": "={{ $json.messages.length }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "4790a1d8-3c25-4d22-bf2d-e181c50f33a5",
      "name": "Parse Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1440,
        -128
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "id": "973fac0d-8a9f-427b-806d-9f712d3db3f4",
      "name": "Split Messages",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1664,
        -128
      ],
      "notes": "Split array into individual message items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "msg-id",
              "name": "messageId",
              "value": "={{ $json._id }}",
              "type": "string"
            },
            {
              "id": "msg-timestamp",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "number"
            },
            {
              "id": "msg-formatted-time",
              "name": "formattedTime",
              "value": "={{ $json.formattedTimestamp }}",
              "type": "string"
            },
            {
              "id": "msg-display-name",
              "name": "displayName",
              "value": "={{ $json.displayName }}",
              "type": "string"
            },
            {
              "id": "msg-role",
              "name": "userRole",
              "value": "={{ $json.userRole }}",
              "type": "string"
            },
            {
              "id": "msg-is-patient",
              "name": "isPatient",
              "value": "={{ $json.isPatient }}",
              "type": "boolean"
            },
            {
              "id": "msg-text",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "msg-payload-type",
              "name": "payloadType",
              "value": "={{ $json.payloadType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "67ee2891-e663-4a37-9fcc-c664f652ebba",
      "name": "Format Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1888,
        -128
      ],
      "notes": "Extract individual message fields"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-20T01:05:42.219Z",
      "createdAt": "2026-02-20T01:05:42.219Z",
      "role": "workflow:owner",
      "workflowId": "tqEPlt71_lN7qsSYOUIvM",
      "projectId": "7ZHDicOHIJvXER17"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-20T01:10:29.384Z",
  "versionId": "b379b1bf-45d5-4e93-85e5-27954c2ad59b"
}