vTx9hpN2RGyFHSNg--2BX.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Zone",
            "type": "main",
            "index": 0
          },
          {
            "node": "company",
            "type": "main",
            "index": 0
          },
          {
            "node": "area",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "area": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Create a draft3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a draft2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft1": {
      "main": [
        []
      ]
    },
    "Zone": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft2": {
      "main": [
        []
      ]
    },
    "Create a draft3": {
      "main": [
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-13T06:29:17.094Z",
  "id": "vTx9hpN2RGyFHSNg--2BX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Weekly OKR Summary",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "f57bacbd-ffbf-4d37-a5d3-692458846509",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 335553914,
          "mode": "list",
          "cachedResultName": "20260208 - area",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=335553914"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        176
      ],
      "id": "cc431a45-bb1e-49e0-9832-2bce45c8b771",
      "name": "area",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -192
      ],
      "id": "85ddabcb-f6aa-45b3-bd7c-68c001ec1f9b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "=You are preparing a concise executive email summarizing company-wide weekly performance.\n\nCONTEXT\n- Time granularity: weekly\n- Scope: zone-wide metrics only\n- Compare: most recent week vs previous week\n\nOBJECTIVE\nProvide a clear summary of what changed week-over-week.\n\nGUIDELINES\n- Focus only on meaningful changes (>2% WoW)\n- Keep language simple and non-technical\n- Do not speculate\n- Do not recommend actions\n- Avoid unnecessary metric restatement\n- Keep it concise and structured for email\n\nOUTPUT FORMAT\n\nSubject: Weekly Performance Summary – [Week]\n\n1. Overall Performance\n- 3–5 bullet points summarizing key changes\n\n2. Notable Movements\n- Metric name → Change → Short explanation of impact\n\n3. Metrics That Remained Stable\n- Brief note if performance was broadly steady\n\nData: {{ $json.sheetData }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        736,
        -192
      ],
      "id": "ba2e0130-efda-4e11-b781-d59d845ca48a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "1fc782c2-027c-43d4-bbde-454580951283",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        176
      ],
      "id": "47231a6a-4a19-4900-a7bf-794f112c5268",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "=You are preparing a concise executive email summarizing company-wide weekly performance.\n\nCONTEXT\n- Time granularity: weekly\n- Scope: company-wide metrics only\n- Compare: most recent week vs previous week\n\nOBJECTIVE\nProvide a clear summary of what changed week-over-week.\n\nGUIDELINES\n- Focus only on meaningful changes (>2% WoW)\n- Keep language simple and non-technical\n- Do not speculate\n- Do not recommend actions\n- Avoid unnecessary metric restatement\n- Keep it concise and structured for email\n\nOUTPUT FORMAT\n\nSubject: Weekly Performance Summary – [Week]\n\n1. Overall Performance\n- 3–5 bullet points summarizing key changes\n\n2. Notable Movements\n- Metric name → Change → Short explanation of impact\n\n3. Metrics That Remained Stable\n- Brief note if performance was broadly steady\n\nData: {{ $json.sheetData }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        752,
        0
      ],
      "id": "4f5f9b55-7aa3-4a79-9cab-950d3d6a57f4",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "=You are preparing a concise executive email summarizing company-wide weekly performance.\n\nCONTEXT\n- Time granularity: weekly\n- Scope: area-wide metrics only\n- Compare: most recent week vs previous week\n\nOBJECTIVE\nProvide a clear summary of what changed week-over-week.\n\nGUIDELINES\n- Focus only on meaningful changes (>2% WoW)\n- Keep language simple and non-technical\n- Do not speculate\n- Do not recommend actions\n- Avoid unnecessary metric restatement\n- Keep it concise and structured for email\n\nOUTPUT FORMAT\n\nSubject: Weekly Performance Summary – [Week]\n\n1. Overall Performance\n- 3–5 bullet points summarizing key changes\n\n2. Notable Movements\n- Metric name → Change → Short explanation of impact\n\n3. Metrics That Remained Stable\n- Brief note if performance was broadly steady\n\nData: {{ $json.sheetData }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        768,
        208
      ],
      "id": "7eb69521-1d37-49f6-bd51-e1a9035e5cd4",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a senior Data Analyst, Summarize the text for a weekly report email. \n\nRules:\n- When including percentage change, include the numbers as well.\n\nText: {{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2112,
        0
      ],
      "id": "e689a94a-1a97-4858-9cc8-fac3a9b0b283",
      "name": "Message a model5",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Test Weekly Summary",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2416,
        0
      ],
      "id": "f825c547-27b2-46b3-96ee-643e3ed9f5a5",
      "name": "Create a draft",
      "webhookId": "d2c4ac88-b701-4e72-ba67-eb1e47829df7",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "test email zone",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        -416
      ],
      "id": "98b43fc4-fec9-4325-8b08-d1fe32565c96",
      "name": "Create a draft1",
      "webhookId": "0fea3af5-3927-47d3-9b97-7f2884426ceb",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1628043281,
          "mode": "list",
          "cachedResultName": "20260208 - zone",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1628043281"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -192
      ],
      "id": "b3d7cbad-c55a-4793-956e-8281df2edbae",
      "name": "Zone",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 138952674,
          "mode": "list",
          "cachedResultName": "20260208",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=138952674"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "2a4cc36e-1b0a-469f-9cd6-4ed6325eb98e",
      "name": "company",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "test email company",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1024,
        -96
      ],
      "id": "c5c667b3-9bdd-4d99-978c-c4a298b5f18d",
      "name": "Create a draft2",
      "webhookId": "2e0843f9-972f-4d78-a676-44bf5a2cf8e9",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "test email area",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        352
      ],
      "id": "d6383103-a97b-4122-9324-34433e1a208a",
      "name": "Create a draft3",
      "webhookId": "10a3f26b-f47a-4a01-af3a-d150fa4992e0",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1456,
        -16
      ],
      "id": "6abdce5b-e184-45a4-98c4-71752e61cd40",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7af128f3-524c-4761-b7a3-5b85c16719e4",
              "name": "text",
              "value": "={{ [$('Merge').all().map(item => item.json.output[0].content[0].text)].join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        0
      ],
      "id": "b37e19d3-76c9-475a-92a7-4af211c4cdaa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        0
      ],
      "id": "1e8ff19d-f210-4e78-aa5e-1ceb147b1dfd",
      "name": "Code in JavaScript3"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-13T06:29:17.097Z",
      "createdAt": "2026-02-13T06:29:17.097Z",
      "role": "workflow:owner",
      "workflowId": "vTx9hpN2RGyFHSNg--2BX",
      "projectId": "kugITzN49x98FAtM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-18T00:47:06.812Z",
  "versionId": "374b798b-55f1-4d2a-a5fc-f77777419fdd"
}