vTx9hpN2RGyFHSNg--2BX.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "company",
            "type": "main",
            "index": 0
          },
          {
            "node": "zone",
            "type": "main",
            "index": 0
          },
          {
            "node": "area",
            "type": "main",
            "index": 0
          },
          {
            "node": "clinic",
            "type": "main",
            "index": 0
          },
          {
            "node": "care director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zone": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "area": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clinic": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Get a prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "care director": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Get a prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get a prompt3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Get a prompt4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft1": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-13T06:29:17.094Z",
  "id": "vTx9hpN2RGyFHSNg--2BX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 32",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "f57bacbd-ffbf-4d37-a5d3-692458846509",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -192
      ],
      "id": "b3d7cbad-c55a-4793-956e-8281df2edbae",
      "name": "company",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 410794723,
          "mode": "list",
          "cachedResultName": "zone",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=410794723"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "2a4cc36e-1b0a-469f-9cd6-4ed6325eb98e",
      "name": "zone",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1160631989,
          "mode": "list",
          "cachedResultName": "area",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1160631989"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        176
      ],
      "id": "cc431a45-bb1e-49e0-9832-2bce45c8b771",
      "name": "area",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1318349317,
          "mode": "list",
          "cachedResultName": "clinic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1318349317"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        368
      ],
      "id": "7f8b5f5c-9354-4710-8ac4-7a4ddcd3ebdd",
      "name": "clinic",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1814594511,
          "mode": "list",
          "cachedResultName": "care_director",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1814594511"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        560
      ],
      "id": "cc0b0ad0-9c5f-4f57-9113-f0678b6cb9c1",
      "name": "care director",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        640,
        -192
      ],
      "id": "5955b413-bce0-46bb-9417-63b6002eb993",
      "name": "Get a prompt",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -192
      ],
      "id": "85ddabcb-f6aa-45b3-bd7c-68c001ec1f9b",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c386739-b02c-4e31-9eee-d263a5de7640",
              "name": "prompt",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: \n{{ $('Code in JavaScript1').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -192
      ],
      "id": "780e563a-08b6-4e12-9e49-cfc0bf1642b3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        -192
      ],
      "id": "ba2e0130-efda-4e11-b781-d59d845ca48a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "1fc782c2-027c-43d4-bbde-454580951283",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        176
      ],
      "id": "47231a6a-4a19-4900-a7bf-794f112c5268",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        368
      ],
      "id": "f31ae9a8-fa49-47d3-b40b-e7798bbb7633",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        560
      ],
      "id": "584771db-671d-4f62-9eb6-4a9be852c348",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "2a768447-604a-436c-b037-199c8bf049a0",
      "name": "Get a prompt1",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        640,
        176
      ],
      "id": "617122c6-7970-4a79-a9f8-33ffdccbf537",
      "name": "Get a prompt2",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        656,
        368
      ],
      "id": "8518235c-bdfb-433c-90ac-7a206baa7bf3",
      "name": "Get a prompt3",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        656,
        560
      ],
      "id": "4d694b0b-9fcf-48a4-ba30-d53711ca70c7",
      "name": "Get a prompt4",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7383f653-c3ea-4d55-8615-211106e9f355",
              "name": "",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        0
      ],
      "id": "d92b3be0-6e5a-4bae-abec-a9dba3428d04",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe14dea2-952f-4ade-bd42-94b7b864ff48",
              "name": "",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript4').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        560
      ],
      "id": "8e3f4a68-2189-4b78-9539-c93f21c2dc02",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d6b9d19-b19e-4aba-a50f-2ed4987b05bd",
              "name": "prompt",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript3').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        368
      ],
      "id": "125d84e1-4e22-4f7f-b829-f5220d48dcac",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c4922ef-1151-4c9f-8762-ec9e425b3b70",
              "name": "prompt",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript2').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        176
      ],
      "id": "b30eb88c-b578-4cda-af60-97b389be8291",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        0
      ],
      "id": "4f5f9b55-7aa3-4a79-9cab-950d3d6a57f4",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        176
      ],
      "id": "7eb69521-1d37-49f6-bd51-e1a9035e5cd4",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        368
      ],
      "id": "a703d5f9-c5ae-436c-967d-7dc7bc6a8cb2",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1072,
        560
      ],
      "id": "e0f5c9a2-159e-4f3b-ac6b-9f87aab87a4f",
      "name": "Message a model4",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1856,
        176
      ],
      "id": "e689a94a-1a97-4858-9cc8-fac3a9b0b283",
      "name": "Message a model5",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Test Weekly Summary",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2208,
        176
      ],
      "id": "f825c547-27b2-46b3-96ee-643e3ed9f5a5",
      "name": "Create a draft",
      "webhookId": "d2c4ac88-b701-4e72-ba67-eb1e47829df7",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "test email",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        -192
      ],
      "id": "98b43fc4-fec9-4325-8b08-d1fe32565c96",
      "name": "Create a draft1",
      "webhookId": "0fea3af5-3927-47d3-9b97-7f2884426ceb",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-13T06:29:17.097Z",
      "createdAt": "2026-02-13T06:29:17.097Z",
      "role": "workflow:owner",
      "workflowId": "vTx9hpN2RGyFHSNg--2BX",
      "projectId": "kugITzN49x98FAtM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-13T18:11:44.262Z",
  "versionId": "b1c6a3ea-e21e-4d95-87d7-bc8f88c35269"
}