xzVK1B2QnctXeavi.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "company",
            "type": "main",
            "index": 0
          },
          {
            "node": "zone",
            "type": "main",
            "index": 0
          },
          {
            "node": "area",
            "type": "main",
            "index": 0
          },
          {
            "node": "clinic",
            "type": "main",
            "index": 0
          },
          {
            "node": "care director",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "zone": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "area": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clinic": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "care director": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Get a prompt2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Get a prompt3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Get a prompt4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a prompt2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Message a model3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Message a model4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model3": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model4": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model5": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft1": {
      "main": [
        [
          {
            "node": "Message a model5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-17T19:50:50.912Z",
  "id": "xzVK1B2QnctXeavi",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Weekly OKR Summary copy 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ]
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        0
      ],
      "id": "49da9f47-a050-4c88-94c2-ffbffea79f05",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1628043281,
          "mode": "list",
          "cachedResultName": "20260208 - zone",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1628043281"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        -192
      ],
      "id": "bda97825-c858-4677-892c-2891ce791650",
      "name": "company",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 410794723,
          "mode": "list",
          "cachedResultName": "zone",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=410794723"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "e39f5ef9-04cf-4e14-bde3-1e8cc1005342",
      "name": "zone",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1160631989,
          "mode": "list",
          "cachedResultName": "area",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1160631989"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        176
      ],
      "id": "be59c65e-4b71-469b-8a94-7217ea75a6d1",
      "name": "area",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1318349317,
          "mode": "list",
          "cachedResultName": "clinic",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1318349317"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        368
      ],
      "id": "ff7860a7-0c5a-45ac-abbc-f08a3f948edc",
      "name": "clinic",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY",
          "mode": "list",
          "cachedResultName": "company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1814594511,
          "mode": "list",
          "cachedResultName": "care_director",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-SZG6vaM0Z7tzfKMwB9QMsdlpkznhcALUu1M91RvRFY/edit#gid=1814594511"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        560
      ],
      "id": "75892149-f631-4bbd-8164-dc7a174249fc",
      "name": "care director",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VkqVQG6uCx2rHBuX",
          "name": "Google Sheets account 7"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        -192
      ],
      "id": "b5857f16-754a-421f-af88-ffe30e227cab",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "responses": {
          "values": [
            {
              "content": "=You are preparing a concise executive email summarizing company-wide weekly performance.\n\nCONTEXT\n- Time granularity: weekly\n- Scope: zone-wide metrics only\n- Compare: most recent week vs previous week\n\nOBJECTIVE\nProvide a clear summary of what changed week-over-week.\n\nGUIDELINES\n- Focus only on meaningful changes (>5% WoW)\n- Keep language simple and non-technical\n- Do not speculate\n- Do not recommend actions\n- Avoid unnecessary metric restatement\n- Keep it concise and structured for email\n\nOUTPUT FORMAT\n\nSubject: Weekly Performance Summary – [Week]\n\n1. Overall Performance\n- 3–5 bullet points summarizing key changes\n\n2. Notable Movements\n- Metric name → Change → Short explanation of impact\n\n3. Metrics That Remained Stable\n- Brief note if performance was broadly steady"
            },
            {
              "content": "={{ $json.sheetData }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        928,
        -192
      ],
      "id": "a50b6bb4-1633-47bb-b2c9-56da98d8a131",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "a8ef00bc-9379-419d-ab04-d09d6e53d3eb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        176
      ],
      "id": "86181ac2-d1bc-4e41-aad5-3180b605632b",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        368
      ],
      "id": "bae716aa-be3c-4a53-98d3-0a8cf66f89bf",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(r => r.json)\n\nreturn [\n  {\n    json:{\n      sheetData: JSON.stringify(rows)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        560
      ],
      "id": "db09c357-5a44-4ac1-a6fe-7973789a9c32",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        640,
        0
      ],
      "id": "138ded4d-f177-471c-89d6-028656d8bf77",
      "name": "Get a prompt1",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        640,
        176
      ],
      "id": "863eeabb-ac52-486e-b624-497f6bfc12e1",
      "name": "Get a prompt2",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        656,
        368
      ],
      "id": "38dc04aa-1327-434a-9541-391b3b306b68",
      "name": "Get a prompt3",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "promptName": "summarize",
        "requestOptions": {}
      },
      "type": "@langfuse/n8n-nodes-langfuse.langfuse",
      "typeVersion": 1,
      "position": [
        656,
        560
      ],
      "id": "e5a8531d-c710-4353-8e3e-a85799b056e4",
      "name": "Get a prompt4",
      "credentials": {
        "langfuseApi": {
          "id": "gHSORKqnJIeunW4d",
          "name": "Langfuse account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7383f653-c3ea-4d55-8615-211106e9f355",
              "name": "",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        0
      ],
      "id": "c771db99-0336-4c57-8fea-c5d7e3b522e9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe14dea2-952f-4ade-bd42-94b7b864ff48",
              "name": "",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript4').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        560
      ],
      "id": "cb870649-8b85-4615-8843-a83b5740909a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d6b9d19-b19e-4aba-a50f-2ed4987b05bd",
              "name": "prompt",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript3').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        368
      ],
      "id": "5c8ca8ca-bad1-4822-b6d2-ec3e551a07de",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c4922ef-1151-4c9f-8762-ec9e425b3b70",
              "name": "prompt",
              "value": "={{ $json.prompt }} Here is the spreadsheet data in JSON: {{ $('Code in JavaScript2').item.json.sheetData }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        176
      ],
      "id": "f9065b12-f637-4264-bede-83bcd90e29d6",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        0
      ],
      "id": "7a1b78d2-3067-4d46-ab40-6999580bd130",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        176
      ],
      "id": "dda7a248-2089-45eb-8e49-c883d080e512",
      "name": "Message a model2",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        368
      ],
      "id": "8f9e230b-45cc-4494-bb1a-52bcea8980ab",
      "name": "Message a model3",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.prompt }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1072,
        560
      ],
      "id": "9ef07fdd-7dab-4808-81d3-ab78956e2e71",
      "name": "Message a model4",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1856,
        176
      ],
      "id": "61a78c6a-1a05-42c3-a8f6-929e7db76a39",
      "name": "Message a model5",
      "credentials": {
        "openAiApi": {
          "id": "Oj08scHKr6wdz972",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "Test Weekly Summary",
        "options": {},
        "path": "0093c710-f8fa-4661-9051-6f019367857b"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2208,
        176
      ],
      "id": "5321a5be-9692-4f72-b994-7120304ff3f0",
      "name": "Create a draft",
      "webhookId": "0093c710-f8fa-4661-9051-6f019367857b",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "test email",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {},
        "path": "b216313e-c9c4-49dd-a1b2-a20061f40121"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        -192
      ],
      "id": "2a5b76f0-3ada-4490-ab7e-fe131d4e861c",
      "name": "Create a draft1",
      "webhookId": "b216313e-c9c4-49dd-a1b2-a20061f40121",
      "credentials": {
        "gmailOAuth2": {
          "id": "bsd68rFO96U4ZCjM",
          "name": "Gmail account 4"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "sage-ihealth",
    "name": "n8n-backup"
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-17T19:50:50.913Z",
      "createdAt": "2026-02-17T19:50:50.913Z",
      "role": "workflow:owner",
      "workflowId": "xzVK1B2QnctXeavi",
      "projectId": "kugITzN49x98FAtM"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-17T19:50:50.912Z",
  "versionId": "e3a80311-f066-480a-9416-51b37883b16c"
}